{% extends "./layout/layout.html" %}

{% block title %}Signed out{% endblock %}

{% block body %}
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <!-- <p>PatSmith</p> -->
      <h1 class="heading-large">Signed out</h1>
      <p>You have now signed out.</p>
      <p>If you need a different service you can <a href="{{path}}">return to the start page</a>.</p>

      <h2 class="heading-medium collapse-top">What did you think of this service?</h2>
        <p><a href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Please give us your feedback</a> (takes 30 seconds). <br>This is a new service and your feedback will help us improve it.</p>

    </div>

  </div>
{% endblock %}
