{% extends "../layout/layout.html" %}
{% from "../includes/back_link.html" import back_link %}

{% block title %}Sign in{% endblock %}

{% block header_primary %}
  {{ back_link(title='Back', prefix='Back') }}
{% endblock %}

{% block body %}
  

  <!--<p style="vertical-align:top">Don't have an account? <a class="button" style="margin-left:30px;line-height: inherit;vertical-align:middle;background-color: #333" href="create_account?title_number={{data.title_number}}" id="register-link">register to use this service</a></p>-->


  <div class="grid-row spacing-top-double">
    <div class="column-two-thirds">

      <h1 class="heading-large" style="margin-top:0px;">Sign in</h1>

      <form method="GET" action="{{path}}/ox73ny/confirm_your_purchase_f" id="login-form"  novalidate data-clientside-validation="login_form_validation">

        <!-- <p class="lede">or <a href="create_account?title_number={{data.title_number}}" class="register-link">register to use this service</a></p> -->

        {% if data.title_number %}
          <input name="title_number" value="{{data.title_number}}" type="hidden" />
        {% endif %}

        <!-- If this field is present in the GET or POST data sent to the server -->
        <!-- it will instantly log the user in. This is obviously not how "real" -->
        <!-- sign-ins work! It is a massive hack for prototyping only -->
        <input name="do_sign_in" value="true" type="hidden" />
        <input name="addr" value="land and buildings on the south side of Cobden Avenue and the west side of Lincoln Road" type="hidden" />

        <!-- Email -->
        <div class="form-group">
          <label class="form-label-bold" for="email">Email address</label>
          <input type="email" class="form-control" name="email" id="email" data-session-storage-set="find-property-information-email" data-session-storage-get="find-property-information-email" {% if data.email %} value="{{data.email}}"{% endif %}{% if data.username %} value="{{data.username}}"{% endif %}>
        </div>


        <!-- Password -->
        <div class="form-group">


          <label class="form-label-bold" for="password">
            Password
          </label>

          <!-- <p>If this is your first visit, you will need to <a href="create_account?title_number={{data.title_number}}" class="register-link">register to use this service</a></p> -->

          <input type="password" class="form-control" id="password" name="password">

        </div>


        <!-- T&Cs -->
<!--         <div class="form-group" id="terms_group">
          <label class="block-label selection-button-checkbox" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms_and_conditions">terms &amp; conditions</a>
          </label>
        </div> -->

        <input type="submit" class="button" value="Continue to purchase">

      </form>


      <div class="panel panel-border-narrow spacing-bottom-single spacing-top-double">
        <p>Forgotten your password? <a href="{{path}}/reset/password/send_email?title_number={{data.title_number}}">Reset your password</a></p>
      </div>

      <div class="panel panel-border-narrow spacing-bottom-single">
        <p>Don't have an account? <a href="create_account?title_number={{data.title_number}}">Create an account</a></p>
      </div>

      <script>
      (function() {
        var registerLinks = document.querySelectorAll('.register-link');
        var email = document.getElementById('email');

        [].forEach.call(registerLinks, function(link) {
          link.addEventListener('click', function(e) {
            e.preventDefault();

            window.location = this.getAttribute('href') + '&email=' + email.value;
          });
        });

      })();
      </script>

      <script type="application/json" id="login_form_validation">
        {
          "email": {
            "presence": {
              "message": "You need to provide an email address"
            }
          },
          "password": {
            "presence": {
              "message": "You need to provide a password"
            }
          }
        }
      </script>


    </div>

<!--     <div class="column-one-third tablet-column-one-third">
      <aside class="supplementary-panel">
        <h2 class="heading-medium">Need help with this service?</h2>
        <p>Call HM Land Registry on 0300 006 0411 to report a problem, or if you're stuck and need help.</p>
      </aside>
    </div> -->
  </div>

{% endblock %}
