{% macro pagination(display_page_number,number_pages,search_term) %}
  {% if display_page_number > 1 or display_page_number < number_pages %}
    <nav class="pager-simple" role="navigation" aria-label="Pagination">
      <ul>
        {% if display_page_number > 1 %}
          <li class="previous-page">
            <a href="search_results?search_term={{search_term}}&amp;page={{display_page_number|int - 1 }}" rel="prev">
              <span class="pagination-part-title">Previous page</span>
              <span class="pagination-label">{{display_page_number|int - 1}} of {{ number_pages }}</span>
            </a>
          </li>
        {% endif %}
        {% if display_page_number < number_pages %}
          <li class="next-page">
            <a href="search_results?search_term={{search_term}}&amp;page={{display_page_number|int + 1 }}" rel="next">
              <span class="pagination-part-title">Next page</span>
              <span class="pagination-label">{{display_page_number|int + 1}} of {{ number_pages }}</span>
            </a>
          </li>
        {% endif %}
        {% if display_page_number == number_pages %}
          <li class="next-page last-page">
            <div>
              <span class="pagination-part-title">Limit reached</span><br>
              <span class="pagination-label">This service only displays 50 results</span>
            </div>
          </li>
        <!-- <p >Search limit reached. This beta service is limited to 50 results</p> -->
<!--         <p>You've reached the 50 result limit.</p>
        <p>Please use the <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">HM Land Registry 'Find a Property' service</a>.</p> -->
        {% endif %}
      </ul>

    </nav>

    {% if display_page_number == number_pages %}
      <h3 class="heading-small">This service is limited to 50 results</h3>
      If the property isn't listed, use the <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">Find a Property service</a> instead to search by street address, title number or by using a map</p>
    {% endif %}
  {% endif %}
{% endmacro %}
