{% extends "./layout/layout.html" %}

{% block body %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large spacing-top-single">
        Sign in page variants
      </h1>


      <ul class="list list-bullet">
        <li><a href="{{path}}/tweaked">Simple wording and presentational tweaks to current page</a></li>
        <li><a href="{{path}}/been-here-before-yes-no">"Do you already have an account -> Yes / No</a></li>
      </ul>
    </div>

  </div>
{% endblock %}
