{% extends "./layout/layout.html" %}

{% block head_additionals %}

  <style type="text/css">
  .form-group {
    position: relative;
  }

  .form-group .proto-annotation {
    color: #333;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 0;
    max-width: 100%;
    min-height: 100%;
    padding: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    background-color: beige;
    font-size: 14px;
    border-bottom-right-radius: 60px 5px;
  }
  </style>

{% endblock %}

{% block title %}Create account{% endblock %}

{% block body %}
  <h1 class="heading-large">Create account</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="account_created_continue" method="POST" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <h2 class="heading-medium">Your details</h2>

        <fieldset>

          <legend class="visuallyhidden">Your details</legend>

          <div class="form-group"{% if data.annotation %} style="margin-bottom: 80px"{% endif %}>
            <label class="form-label" for="title">Title</label>
            <select class="form-control" id="title" name="title">
              <option value="">Please select</option>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Miss">Miss</option>
              <option value="Ms">Ms</option>
              <option value="Other">Other</option>
            </select>

            {% if data.annotation %}
              <div class="proto-annotation">
                The gov.uk service manual <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names.html#titles">recommends against asking for people's title</a> as you risk upsetting people and there are <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/gender-and-sex.html">a wide range of issues surrounding gender</a>
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label class="form-label" for="firstname">First name</label>
            <input class="form-control" type="text" id="firstname" name="firstname">

            {% if data.annotation %}
              <div class="proto-annotation">
                The gov.uk service manual <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names.html">recommends that you use a single name field</a> as it is more sensitive to cultural conventions. If necessary, this could be split by the first whitespace character to populate database fields.
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label class="form-label" for="surname">Surname</label>
            <input class="form-control" type="text" id="surname" name="surname">
          </div>

          <div class="form-group">
            <label class="form-label" for="email">Email address</label>
            <input class="form-control" type="email" id="email" name="email">
            <p class="form-hint">We will use this to allow you to reset your password.</p>
            <p class="form-hint">We will never share your email with third parties.</p>
          </div>

          <div class="panel panel-border-narrow visuallyhidden email-hint">
            <p>Please ensure your email address is displayed correctly below. We will need this if you need to reset your password in future.</p>
            <p id="email-hint-value" class="bold"></p>
          </div>

          <script>
            (function() {
              var emailHint = document.querySelectorAll('.email-hint');
              var emailHintValue = document.getElementById('email-hint-value');
              var emailInput = document.getElementById('email');

              function change(e) {
                [].forEach.call(emailHint, function(hint) {
                  hint.classList.remove('visuallyhidden');
                });

                emailHintValue.textContent = emailInput.value;
              }

              emailInput.addEventListener('keyup', change);
              emailInput.addEventListener('change', change);
            })();
          </script>

        </fieldset>

        <h2 class="heading-medium">Address</h2>

        <fieldset>

          <legend class="visuallyhidden">Address</legend>

          <div class="form-group">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" type="text" id="address" name="address">
          </div>

          <div class="form-group">
            <label class="form-label" for="city">City</label>
            <input class="form-control" type="text" id="city" name="city">
          </div>

          <div class="form-group">
            <label class="form-label" for="country">Country</label>
            <select class="form-control" id="country" name="country">
              {% for country in countries %}
                <option value="{{country.entry.country}}" {% if country.entry.country == 'GB' %}selected{% endif %}>{{country.entry.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control" type="text" id="postcode" name="postcode">
          </div>

        </fieldset>

        <h2 class="heading-medium">Account details</h2>

        <fieldset>

          <legend class="visuallyhidden">Account details</legend>

          <div class="form-group">
            <label class="form-label" for="username">Create a username</label>
            <input class="form-control" type="text" id="username" name="username">
            <p class="form-hint">You'll need this to sign in again, so make it memorable.</p>
          </div>

          <div class="form-group">
            <label class="form-label" for="pass">Create a password</label>
            <input class="form-control" type="password" id="pass" name="pass">
            <p class="form-hint">Your password must have at least 6 characters</p>

            <label class="form-checkbox" for="show-password">
              <input id="show-password" name="show-password" type="checkbox">
              Show typing
            </label>
          </div>

          <script>
            document.getElementById('show-password').addEventListener('click', function(e) {
              var password = document.getElementById('pass');

              if(password.type === 'password') {
                password.type = 'text';
              } else {
                password.type = 'password';
              }
            });
          </script>

        </fieldset>

        <div class="form-group spacing-top-double">
          <label class="block-label" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms_and_conditions">Terms and Conditions</a>
          </label>
        </div>

        <input type="submit" class="button spacing-top-single" value="Create account">
      </form>

      <script type="application/json" id="create_account_form_validation">
        {
          "title": {
            "presence": {
              "message": "Title is required"
            }
          },
          "firstname": {
            "presence": {
              "message": "First name is required"
            }
          },
          "surname": {
            "presence": {
              "message": "Surname is required"
            }
          },
          "address": {
            "presence": {
              "message": "Address is required"
            }
          },
          "city": {
            "presence": {
              "message": "City is required"
            }
          },
          "country": {
            "presence": {
              "message": "Country is required"
            }
          },
          "postcode": {
            "presence": {
              "message": "Postcode is required"
            }
          },
          "email": {
            "email": true,
            "presence": {
              "message": "Email address is required"
            }
          },
          "username": {
            "presence": {
              "message": "Username is required"
            }
          },
          "pass": {
            "presence": {
              "message": "Password is required"
            },
            "length": {
              "minimum": 6,
              "message": "Password should be at least 6 characters long. Characters can include any letter, number or symbol."
            }
          },
          "terms": {
            "presence": {
              "message": "You must agree to our terms and conditions before continuing"
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
