{% extends "./layout/layout.html" %}

{% block title %}Create account{% endblock %}

{% block body %}
  <h1 class="heading-large">Create account</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

    <h2 class="heading-small">Account creation form variants</h2>
    <ul class="list list-bullet">
      <li><a href="/{{prototypeVersion}}/create_account_minimal">Minimal account creation</a></li>
      <li><a href="/{{prototypeVersion}}/create_account">Stakeholder account creation</a></li>
    </ul>

    <h2 class="heading-small">Account creation in flow</h2>
    <ul class="list list-bullet">
      <li><a href="/{{prototypeVersion}}/landing_page">Account creation in main flow</a></li>
    </ul>

    </div>
  </div>
{% endblock %}
