{% extends "./layout/layout.html" %}

{% block title %}Create account{% endblock %}

{% block body %}
  <h1 class="heading-large">Create account</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

    <ul class="list list-bullet">
      <li><a href="/{{prototypeVersion}}/create_account_minimal">Minimal account creation</a></li>
      <li><a href="/{{prototypeVersion}}/create_account">Stakeholder account creation</a></li>
    </ul>

    </div>
  </div>
{% endblock %}
