{% extends "./layout/layout.html" %}

{% block head_additionals %}

  <style type="text/css">
  .form-group {
    position: relative;
  }

  .form-group .proto-annotation {
    color: #333;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 0;
    max-width: 100%;
    min-height: 100%;
    padding: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    background-color: beige;
    font-size: 14px;
    border-bottom-right-radius: 60px 5px;
  }
  </style>

{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block body %}
  <h1 class="heading-large">Reset your password</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="password_reset_confirm" method="GET" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{title_number}}" type="hidden" />

        <p>To reset your password, enter a new one in the box below.</p>

        <fieldset>

          <legend class="visuallyhidden">Enter your new password</legend>

          <div class="form-group">
            <label class="form-label" for="pass">New password</label>
            <input class="form-control" type="password" id="pass" name="pass">

            <label class="form-checkbox" for="show-password">
              <input id="show-password" name="show-password" type="checkbox">
              Show typing
            </label>
          </div>

          <script>
            document.getElementById('show-password').addEventListener('click', function(e) {
              var password = document.getElementById('pass');

              if(password.type === 'password') {
                password.type = 'text';
              } else {
                password.type = 'password';
              }
            });
          </script>

        </fieldset>

        <input type="submit" class="button" value="Reset password">
      </form>

      <script type="application/json" id="create_account_form_validation">
        {
          "pass": {
            "presence": {
              "message": "Password is required"
            },
            "length": {
              "minimum": 6,
              "message": "Password should be at least 6 characters long"
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
