{% extends "./layout/layout.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
  <h1 class="heading-large spacing-bottom-flush">Sign in
    <span class="heading-secondary spacing-top-half">Don't have an account? <a href="create_account{{data.account_creation_variant}}?title_number={{data.title_number}}">Create one now</a></span>
  </h1>
  <p class="spacing-bottom-double">You can use a Land Registry "Find a Property" or "Property Alert" account.</p>

  <!-- <p class="font-medium">Don't have an account? <a href="create_account{{data.account_creation_variant}}?title_number={{data.title_number}}">Create one now</a></p> -->


  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <p>You can sign in if you've been here before or used Land Registry's "Find a Property" or "Property Alert" services.</p> -->

      <!-- <p>If you've been here before, or used Land Registry's "Find a Property" or "Property Alert" you already have an account.</p> -->
      <!-- <p>Accounts created with this service, or existing accounts from "Find a property" or "Property alert" can be used to sign in.</p> -->


      <form method="POST" action="{% if data.action %}{{data.action}}{% else %}worldpay_1{% endif %}" id="login-form"  novalidate data-clientside-validation="login_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <!-- If this field is present in the GET or POST data sent to the server -->
        <!-- it will instantly log the user in. This is obviously not how "real" -->
        <!-- sign-ins work! It is a massive hack for prototyping only -->
        <input name="do_sign_in" value="true" type="hidden" />

        <!-- Email -->
        <div class="form-group">
          <label class="form-label" for="email"><strong class="bold">Email address</strong> or <strong class="bold">"Find a Property" Username</strong></label>
          <input type="text" class="form-control" name="email" id="email"{% if data.email %} value="{{data.email}}"{% endif %}{% if data.username %} value="{{data.username}}"{% endif %}>

          <!-- <p class="form-hint">Existing "Find a Property" users can enter their username here</p> -->
        </div>

        <!-- Password -->
        <div class="form-group">
          <label class="form-label-bold" for="password">
            Password
          </label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <!-- T&Cs -->
        <div class="form-group" id="terms_group">
          <label class="block-label" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms_and_conditions">terms &amp; conditions</a>
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Sign in">
        </div>

      </form>

      <script type="application/json" id="login_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address or \"Find a Property\" username is required"
            }
          },
          "password": {
            "presence": {
              "message": "Password is required"
            }
          },
          "terms": {
            "presence": {
              "message": "You must agree to our terms and conditions before continuing"
            }
          }
        }
      </script>

<!--       <details>
        <summary>Which accounts can I use?</summary>
 -->
        <!-- <div class="panel panel-border-narrow"> -->
          <!-- If you've ever used Land Registry's "Find a Property" or "Property Alert" you already have an account. -->
          <!-- Accounts created with this service, or existing accounts from "Find a property" or "Property alert" can be used to sign in. -->
        <!-- </div> -->
      <!-- </details> -->

      <h2 class="heading-medium spacing-top-double">Problems signing in</h2>

      <!-- <p>If you don't have an account, or you last used your account more than 1 year ago, you will need to <a href="create_account{{data.account_creation_variant}}?title_number={{data.title_number}}">create an account</a>.</p> -->

      <ul class="list list-bullet">
        <li><a href="{{path}}/reset/password/send_email?title_number={{data.title_number}}">Forgotten your password?</a></li>
        <!-- <li>Your username is your email address. If you don't use this email address any more you will need to create a new account.</li> -->
        <li>If you have a "Find a Property" account, enter your username</li>
        <li><a href="{{path}}/reset/username/send_email?title_number={{data.title_number}}">Forgotten your "Find a Property" username?</a></li>
        <li>You can also <a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">order information in paper format</a>.</li>
       </ul>

      <div class="text spacing-top-single">
        <div class="panel panel-border-narrow">
          <p>If you have any other problems signing in, you can contact Land Registry using the <a href="http://landregistry.custhelp.com/app/contactus_general/">general enquiry contact form</a> or call <b style="font-weight: 600;white-space: nowrap;">0300 006 0411</b>.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
