{% extends "./layout/layout.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
  <h1 class="heading-large">Sign in with your account</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>Accounts created with this service, or existing accounts from "Find a property" or "Property alert" can be used to sign in.</p>
      <p>If you don't have one, or you last used your account more than 1 year ago, you will need to <a href="create_account{{data.account_creation_variant}}?title_number={{data.title_number}}">create an account</a>.</p>

      <form method="GET" action="{% if data.action %}{{data.action}}{% else %}worldpay_1{% endif %}" onSubmit="return checkTerms()" id="login-form">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <!-- If this field is present in the GET or POST data sent to the server -->
        <!-- it will instantly log the user in. This is obviously not how "real" -->
        <!-- sign-ins work! It is a massive hack for prototyping only -->
        <input name="do_sign_in" value="true" type="hidden" />

        <!-- Username -->
        <div class="form-group">
          <label class="form-label-bold" for="user-name">Username</label>
          <input type="text" class="form-control" id="user-name"{% if data.username %} value="{{data.username}}"{% endif %}>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label class="form-label-bold" for="password">
            Password
          </label>
          <input type="password" class="form-control" id="password">
        </div>

        <!-- T&Cs -->
        <div class="form-group" id="terms_group">
          <label class="block-label" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms_and_conditions">Terms and Conditions</a>
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Sign in">
        </div>

      </form>

      <script>
        var msg = document.createElement('span');
        msg.classList.add('error-message');
        msg.textContent = 'You must agree to our terms and conditions before continuing';

        var termsGroup = document.getElementById('terms_group');

        function checkTerms() {

          if(msg.parentNode) {
            msg.parentNode.removeChild(msg);
            termsGroup.classList.remove('error');
          }

          if(document.getElementById('terms').checked) {

          } else {
            termsGroup.classList.add('error');
            termsGroup.appendChild(msg);
            return false;
          }

        }
      </script>

      <h2 class="heading-medium spacing-top-double">Problems signing in</h2>

      <ul class="list list-bullet">
        <li><a href="/{{prototypeVersion}}/reset/username/send_email?title_number={{data.title_number}}">Forgotten your username</a></li>
        <li><a href="/{{prototypeVersion}}/reset/password/send_email?title_number={{data.title_number}}">Forgetten your password</a></li>
      </ul>

      <div class="text spacing-top-single">
        <div class="panel panel-border-narrow font-xsmall">
          <p>If you have any queries about your username or password, you can contact Land Registry using the <a href="http://landregistry.custhelp.com/app/contactus_general/">general enquiry contact form</a> or call <b style="font-weight: 600;">0300 006 0411</b>.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
