{% extends "./layout/layout.html" %}
{% from "./includes/back_link.html" import back_link %}

{% block title %}Terms &amp; conditions{% endblock %}

{% block header_primary %}
  {{ back_link(title='Back', prefix='', url=path + '', historyBased=true) }}
{% endblock %}

{% block body %}

    <h1 class="heading-xlarge">Find property information: terms of use</h1>


  <div class="grid-row">
    <div class="column-two-thirds">

    <article>
        <h2 class="heading-large">About this service</h2>
        <p>Use this service to get a summary of who owns or leases a property, including:</p>
        <ul class="list list-bullet">
            <li>what was paid for the property (provided it was bought after April 2000, cost more than £100 and Land Registry recorded this information)</li>
            <li>if there’s a mortgage on it</li>
            <li>its unique property title number</li>
            <li>the property’s rough extent and location on a map</li>
        </ul>
        <p>The summary tells you when the title was last changed and can change if Land Registry receives an application.  This service cannot tell you if a change is being processed.</p>
        <p>You can only view your purchased information once but you can print a copy.</p>
        <p>Use <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">Land Registry’s Find a Property service</a> instead if you need more detailed information, such as the title plan, full legal register entry or details of any access rights and restrictions.</p>
        <p>You’ll need to order an <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">official copy of the register</a> if you need to prove property ownership, eg for a court case.</p>

        <p><strong class="bold-small">By using this service you accept the terms of use set out on this page.  Each term of use is separate.  If any court decides any is unlawful the rest will continue to be fully effective.  You can stop using this service at any time. Land Registry can stop you from using this service if you don’t comply with its terms of use.</strong></p>

        <h2 class="heading-large">Registering to use the service</h2>
        <p>If you’re already registered with Land Registry’s Find a Property service, you can use your username and password to access this service.</p>
        <p>If not, you’ll need to provide an email address and a password. Land Registry will email you when your account has been created. You can’t change your details once you create an account – register a new account if you need to change your name or address details, or use a different email address.</p>
        <p>Important: you are solely responsible for:</p>
        <ul class="list list-bullet">
            <li>keeping your username and password secure</li>
            <li>all activity that occurs on or through your account</li>
        </ul>
        <p>If you think your account’s security has been breached, call the Land Registry immediately on 0300 006 0411.  To speak to a Welsh speaker call 0300 006 0422.</p>
        <p>Land Registry is not responsible for any losses arising from unauthorised use of your account.</p>
        <p>To protect you, if you don’t use your account it’ll be deleted 12 months after the date you last used it. You’ll need to re-register to start using the service again.</p>

        <h2 class="heading-large">Terms and conditions of use</h2>
        <p>By registering an account, you agree that you will not:</p>
        <ul class="list list-bullet">
            <li>attempt to damage, impair or interrupt the service or access to it</li>
            <li>use any automated software agents to search, copy, monitor, display, obtain links to or otherwise access this or any other Land Registry system</li>
            <li>copy or display the information provided for display on another website</li>
            <li>attempt to add, change or delete any information provided and held by Land Registry</li>
            <li>allow any unauthorised person to access your account</li>
            <li>use the information provided by the service to claim any arrangement or official partnership with Land Registry to supply or reuse data and/or information</li>
            <li>use the data for any fraudulent or unlawful activity that breaches data protection law</li>
        </ul>
        <p>The Land Registry has the right to cancel your account at any time without notice if it suspects or has evidence you are not complying with these terms of use.  If this happens you will have to pay any unpaid fees.</p>

        <h2 class="heading-large">Using the service</h2>
        <p>This service is for domestic and private use only.  Land Registry is not responsible for any losses that may result if you use the service for commercial business or re-sale purposes.</p>
        <p>You can access the service from any <a href="https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html">suitable internet-connected device and browser</a>. You can print a copy of your purchased information and VAT receipts.</p>
        <p>The service is available every day but may be taken down for updates and maintenance. If you are logged in when this happens, you’ll receive notification on-screen.</p>
<!-- prototype hack -->
 <!-- <h2 id="contract" class="visually-hidden">Contract</h2>    -->
<!-- end proto hack -->    
        <p>If Land Registry has to contact you, it’ll write to you at the email address you provided when you registered.</p>



        <h2 class="heading-large"></a>Using the service – your contract with Land Registry</h2>
        <p>By using the Find property information service (‘the service’), you have the ability to:</p>
        <ul class="list list-bullet">
            <li>search for a property by postcode</li>
            <li>select a property from a list of property addresses that match your search</li>
            <li>view and print ‘title summary’ information for a property for the fee stated</li>
        </ul>
        <p>By using the service you agree to be bound by and pay for any purchase you make.</p>
        <p>Because the information is provided immediately, once you pay for it you lose the right of cancellation you would normally have under The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013.</p>
        <p>This means that by making a request to view and print title summary information, you:</p>
        <ul class="list list-bullet">
            <li>agree to pay the fee for the service by making an online transaction (through RBS Worldpay or a replacement online payment provider)</li>
            <li>agree the summary will be provided as soon as you have paid</li>
            <li>accept you lose your right to cancel once the summary is displayed</li>
        </ul>
        <p>When it accepts your request, Land Registry enters into a contract with you to provide title summary information at the time and date of your transaction. You can end this contract at any time before you make payment.  The contract is between you and Land Registry and no-one else can enforce any of its terms.</p>
        <p>The online payment provider will confirm your purchase and provide a transaction reference.</p>
        <p>Your contract with Land Registry ends when the title summary information is delivered.</p>
        <p>Land Registry is not liable to you or any third party for any losses arising from delays to the provision of services or the completion of your order, for example through:</p>
        <ul class="list list-bullet">
            <li>interruptions to transmission of data over the internet</li>
            <li>services provided by third parties</li>
            <li>inaccuracies in the content of linked websites</li>
        </ul>

        <h2 class="heading-large"></a>Information the Land Registry holds about you</h2>
        <p>The Land Registry’s Find property information service will hold the following information about you:</p>
        <ul class="list list-bullet">
            <li>your email address</li>
            <li>your password</li>
            <li>your postal address</li>
            <li>your telephone number (if you provide one)</li>
        </ul>

        <h2 class="heading-large"></a>How Land Registry protects your personal information</h2>
        <p>Land Registry complies with the requirements set by the Data Protection Act 1998 and European Parliament Directives.</p>
        <p>It uses personal information you provide in accordance with its <a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">personal information charter</a> to:</p>
        <ol class="list list-number">
            <li>supply title summary information to you</li>
            <li>process your payment for this information</li>
            <li>record the purchase</li>
        </ol>
        <p>Land Registry will only share your personal information with other organisations if the law requires or allows it to do so. It will:</p>
        <ul class="list list-bullet">
            <li>make sure nobody has access to it who shouldn’t</li>
            <li>only keep the information for as long as it’s needed</li>
            <li>not make it available for commercial use, such as marketing, without your permission</li>
        </ul>
        <p>Your order information can be shared with other teams in Land Registry or other organisations where this is needed to process your application.</p>
        <p>There are some cases when your information can be shared for other reasons, for example to prevent crime.</p>

        <h2 class="heading-large"></a>How to make a complaint</h2>
        <p>If you’re unhappy with the title summary information or any other aspect of the service, contact the Land Registry by completing its online <a href="https://landregistry.custhelp.com/app/contactus_general/">contact form</a> or calling 0300 006 0411. To speak to a Welsh speaker, call 0300 003 0422.</p>
        <p>If you’re unhappy with the answer you receive, follow <a href="https://www.gov.uk/government/organisations/land-registry/about/complaints-procedure">the Land Registry’s internal complaints procedure</a>. The complaints procedure also explains how to have your complaint investigated independently from Land Registry.</p>
 
        <p>Important: Land Registry is not directly responsible for the security or privacy of information you provide when making a transaction through the service’s online payment provider. If you have an issue with this, you should:</p>
        <ul class="list list-bullet">
            <li>contact the online payment provider directly</li>
            <li>tell Land Registry about the outcome by calling 0300 006 0411</li>
        </ul>
    </article>

    {{ back_link(title='Back', prefix='', url=path + '', historyBased=true) }}

    </div>

  </div>

{% endblock %}
