{% extends "../layout/layout.html" %}
{% from "../includes/back_link.html" import back_link %}

{% block title %}Account created successfully{% endblock %}

{% block body %}

  <h1 class="heading-large">Registration successful</h1>
  <div class="grid-row">

    <div class="column-two-thirds tablet-column-two-thirds">
      <p class="lede">You may now sign in.</p>

      <form action="sign_in_f" method="POST" novalidate>
        <input name="title_number" value="{{data.title_number}}" type="hidden" />
        <input type="submit" class="button" value="Sign in">
      </form>     

    </div>
  </div>
{% endblock %}
