{% extends "./layout/layout.html" %}


{% block page_title %}
  easy-tiger-no-js
{% endblock %}

{% block head_additionals %}

{% endblock %}

{% block body %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">results being generated</h1>

    <div class="gmail" style="background-image:url({{path}}/images/gmail.png)">
    </div>
    <div>
      <img src="{{path}}/images/loader.gif">
    </div>


      <div class="text">
        <p class="lede">refresh this page in 3 seconds</p>
        <p> <a class="button" href="search_results">refresh</a></p>
      </div>


    </div>
  </div>



</main>

{% endblock %}


