{% extends "./layout/layout.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
  <h1 class="heading-large">Sign in with your Land Registry account</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>If you don't have one, you can <a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/RegisterForLRO">create an account</a> in the Land Registry 'Find a Property' service</a>.</p>

      <form method="get" action="search" onSubmit="return checkTerms()" id="login-form">
        <!-- Username -->
        <div class="form-group">
          <label class="form-label-bold" for="user-name">Username</label>
          <input type="text" class="form-control" id="user-name">
        </div>

        <!-- Password -->
        <div class="form-group">
          <label class="form-label-bold" for="password">
            Password
          </label>
          <input type="password" class="form-control" id="password">
        </div>

        <!-- T&Cs -->
        <div class="form-group" id="terms_group">
          <label class="block-label" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms">Terms and Conditions</a>
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Sign in">
        </div>

      </form>

      <script>
        var msg = document.createElement('span');
        msg.classList.add('error-message');
        msg.textContent = 'You must agree to our terms and conditions before continuing';

        var termsGroup = document.getElementById('terms_group');

        function checkTerms() {

          if(msg.parentNode) {
            msg.parentNode.removeChild(msg);
            termsGroup.classList.remove('error');
          }

          if(document.getElementById('terms').checked) {
            window.location = 'search';
          } else {
            termsGroup.classList.add('error');
            termsGroup.appendChild(msg);
          }

          return false;
        }
      </script>

      <h2 class="heading-medium spacing-top-double">Problems signing in</h2>
      <p>Use the Land Registry 'Find a Property' service to get a reminder of your username or password.</p>

      <ul class="list list-bullet">
        <li><a href="https://eservices.landregistry.gov.uk/wps/portal/RequestUsernameReminder" rel="external" target="_blank">Forgotten your username</a></li>
        <li><a href="https://eservices.landregistry.gov.uk/wps/portal/ResetLoginDetails" rel="external" target="_blank">Forgetten your password</a></li>
      </ul>

      <div class="text spacing-top-single">
        <div class="panel panel-border-narrow font-xsmall">
          <p>If you have any queries about your Find a Property username or password, you can contact Land Registry using the <a href="http://landregistry.custhelp.com/app/contactus_general/">general enquiry contact form</a> or call <b style="font-weight: 600;">0300 006 0411</b>.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
