<div class="phase-banner-beta printhidden">
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="https://www.gov.uk/done/search-property-information-land-registry">feedback</a>  will help us to improve it.</span>
      </p>
    </div>

    <div class="column-one-third" style="text-align: right">
      {% if session.isLoggedIn and not suppressSignOutLink %}
        <a class="font-xsmall" href="sign_out">Sign out</a>
      {% endif %}
    </div>
  </div>
</div>
