{% extends "./layout/layout.html" %}

{% block title %}Create account{% endblock %}

{% block body %}
  <h1 class="heading-large">Create account</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="account_created_continue" method="POST" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <!-- If this field is present in the GET or POST data sent to the server -->
        <!-- it will instantly log the user in. This is obviously not how "real" -->
        <!-- sign-ins work! It is a massive hack for prototyping only -->
        <input name="do_sign_in" value="true" type="hidden" />

        <p>Intro blurb here regarding why an account is required. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

        <h2 class="heading-medium">Your name</h2>

        <fieldset>

          <legend class="visuallyhidden">Your name</legend>

          <div class="form-group">
            <label class="form-label" for="name">Full name</label>
            <input class="form-control" type="text" id="name" name="name">
          </div>
        </fieldset>

        <h2 class="heading-medium">Address</h2>

        <fieldset>

          <legend class="visuallyhidden">Address</legend>

          <div class="form-group">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" type="text" id="address" name="address">
          </div>

          <div class="form-group">
            <label class="form-label" for="city">City</label>
            <input class="form-control" type="text" id="city" name="city">
          </div>

          <div class="form-group">
            <label class="form-label" for="country">Country</label>
            <select class="form-control" id="country" name="country">
              {% for country in countries %}
                <option value="{{country.entry.country}}" {% if country.entry.country == 'GB' %}selected{% endif %}>{{country.entry.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control" type="text" id="postcode" name="postcode">
          </div>

        </fieldset>

        <h2 class="heading-medium">Account details</h2>

        <fieldset>

          <legend class="visuallyhidden">Account details</legend>

          <p>These details will be used to log in to your account in future.</p>

          <div class="form-group">
            <label class="form-label" for="email">Email address</label>
            <input class="form-control" type="email" id="email" name="email">
          </div>

          <div class="form-group">
            <label class="form-label" for="pass">Password</label>
            <input class="form-control" type="password" id="pass" name="pass">

            <label class="form-checkbox" for="show-password">
              <input id="show-password" name="show-password" type="checkbox">
              Show typing
            </label>
          </div>

          <script>
            document.getElementById('show-password').addEventListener('click', function(e) {
              var password = document.getElementById('pass');

              if(password.type === 'password') {
                password.type = 'text';
              } else {
                password.type = 'password';
              }
            });
          </script>

        </fieldset>

        <input type="submit" class="button" value="Create account">
      </form>

      <script type="application/json" id="create_account_form_validation">
        {
          "name": {
            "presence": {
              "message": "Name is required"
            }
          },
          "address": {
            "presence": {
              "message": "Address is required"
            }
          },
          "city": {
            "presence": {
              "message": "City is required"
            }
          },
          "country": {
            "presence": {
              "message": "Country is required"
            }
          },
          "postcode": {
            "presence": {
              "message": "Postcode is required"
            }
          },
          "email": {
            "email": true,
            "presence": {
              "message": "Email address is required"
            }
          },
          "pass": {
            "presence": {
              "message": "Password is required"
            },
            "length": {
              "minimum": 6,
              "message": "Password should be at least 6 characters long"
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
