{% extends "./layout/layout.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
  <h1 class="heading-large">Sign in
    <span class="heading-secondary spacing-top-half">Not been here before? <a href="create_account?title_number={{data.title_number}}">Register with us</a></span>
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="POST" action="{% if data.action %}{{data.action}}{% else %}worldpay_1{% endif %}" id="login-form"  novalidate data-clientside-validation="login_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <!-- If this field is present in the GET or POST data sent to the server -->
        <!-- it will instantly log the user in. This is obviously not how "real" -->
        <!-- sign-ins work! It is a massive hack for prototyping only -->
        <input name="do_sign_in" value="true" type="hidden" />

        <!-- Email -->
        <div class="form-group">
          <label class="form-label-bold" for="email">Email address</label>
          <input type="text" placeholder="someone@example.com" class="form-control" name="email" id="email"{% if data.email %} value="{{data.email}}"{% endif %}{% if data.username %} value="{{data.username}}"{% endif %}>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label class="form-label-bold" for="password">
            Password
          </label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <!-- T&Cs -->
        <div class="form-group" id="terms_group">
          <label class="block-label" for="terms">
            <input id="terms" name="terms" type="checkbox" value="terms">
            I have read and agree to the <a href="terms_and_conditions">terms &amp; conditions</a>
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Sign in">
        </div>

      </form>

      <script type="application/json" id="login_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address or is required"
            }
          },
          "password": {
            "presence": {
              "message": "Password is required"
            }
          },
          "terms": {
            "presence": {
              "message": "You must agree to our terms and conditions before continuing"
            }
          }
        }
      </script>

      <h2 class="heading-medium spacing-top-double">Problems signing in</h2>

      <ul class="list list-bullet">
        <li><a href="{{path}}/reset/password/send_email?title_number={{data.title_number}}">Forgotten your password?</a></li>
        <!-- <li><a href="{{path}}/reset/username/send_email?title_number={{data.title_number}}">Forgotten your "Find a Property" username?</a></li> -->
        <li>Alternatively you can <a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">order information in paper format</a>.</li>
       </ul>

      <div class="text spacing-top-single">
        <div class="panel panel-border-narrow">
          <p>If you have any other problems signing in, you can contact Land Registry using the <a href="http://landregistry.custhelp.com/app/contactus_general/">general enquiry contact form</a> or call <b style="font-weight: 600;white-space: nowrap;">0300 006 0411</b>.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
