{% extends "./layout/layout.html" %}
{% from "./includes/back_link.html" import back_link %}

{% block title %}Terms &amp; conditions{% endblock %}

{% block header_primary %}
  {{ back_link(title='Back', prefix='', url=path + '/search') }}
{% endblock %}

{% block body %}

  <h1 class="heading-xlarge expand-bottom">Terms and conditions<span class="heading-secondary">Land Registry service</span></h1>

  <article class="font-xsmall">
    <h2 class="heading-large">What is the Title Summary service?</h2>
    <p>If you’re buying or selling a house or are just interested in a property the Land Registry Title Summary service is an on-line service that will enable you to see a summary of a title</p>
    <p>The summary will give you brief facts from the Register. It tells you:</p>
    <ul>
      <li>the owners name and address.</li>
      <li>what they paid for the property if they purchased after April 2000 (you will not get the price paid for the property if they purchased before April 2000, or no money changed hands or the owner did not buy the property outright).</li>
      <li>if there is a mortgage on the property the Lender’s name and address.</li>
    </ul>
    <p>In addition a map extract will be provided to identify the location of the property.</p>
    <p>You will be able to view the information on screen. You’ll only be able to view it once, you’ll need to print it out or take a screen shot.</p>
    <p>The title summary you will see will be a summary of the register at the time and date of your transaction. The Land Registry system is a live system that is updated when applications submitted to Land Registry are processed so the information on a title summary is subject to change.</p>
    <h3 class="heading-medium">When not to use the Title Summary service</h3>
    <p>If more detailed information is required such as the full legal register entry; details of access rights, rights of way and restrictions; documents to prove who owns a property for example in a court case or for a visa application; the official title plan showing indicative boundaries; a copy of the deeds.</p>
    <p>To download the relevant form to obtain an official copy of the register or any documents referred to on the register, you will need to use a different service for this information accessible at:</p>
    <p><a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1</a></p>

    <h2 class="heading-large">Legal agreement for Title Summary service</h2>
    <p>The legal agreements set out below are between you and Land Registry and govern your use of the Title Summary service. Your access to and use of the Title Summary service will be subject to the following terms.</p>
    <h3 class="heading-medium">1. Our terms</h3>
    <p>Please read and accept the terms and conditions. If you do not agree these terms do not use the Title Summary service.</p>
    <h4 class="heading-small">What these terms cover</h4>
    <p>These are the terms and conditions on which we supply the Title Summary service to you.</p>
    <h4 class="heading-small">Why you should read them</h4>
    <p>Please read these terms carefully before you submit your order to us. These terms tell you who we are, how we will provide products to you, how you and we may change or end the contract, what to do if there is a problem and other important information. If you think that there is a mistake in these terms [or require any changes] please contact us to discuss.</p>
    <h3 class="heading-medium">2. Use and Access</h3>
    <p>The Title Summary service is for use by citizens for domestic and private use.</p>
    <p>Access is via the internet or any other electronic means of access or communication as we may reasonably require from time to time.</p>
    <h4 class="heading-small">What IT hardware and software do I require to access the service?</h4>
    <p>Land Registry is part of the GOV.UK site. The following link provides details of compatible browsers and devices suitable for use with this website:</p>
    <p><a href="https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html">https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html</a>.</p>
    <p>A printer will be required if you wish to print out a copy of the summary and VAT receipt.</p>
    <h3 class="heading-medium">3. User Registration</h3>
    <h4 class="heading-small">How to register</h4>
    <p>If you are already a customer of our Find a Property service and have a Property Search User account with us you will be able to access the Title Summary service by using your username and password for Find a Property.</p>
    <p>If you are not already a customer of our Find a Property service, to register for the Title Summary service you must register via our ‘Find a Property’ website through the ‘Find a Property’ login. You will be asked to provide a username and password which will be your security credentials. You will be notified by the Land Registry system once a Property Search User account has been created.</p>
    <p>You will need to activate your Property Search User Account before purchasing any of the services.</p>
    <p>Once activated your Property Search User Account can be used to access both the Find a Property service and Title Summary service.</p>
    <p>You are solely responsible for maintaining the confidentiality and security of your Property Search User Account and for all activities that occur on or through your account and you agree to immediately notify Land Registry of any security breach of your account. Land Registry shall not be responsible for any losses arising out of the unauthorised use of your account.</p>
    <h4 class="heading-small">How to make changes to your registration</h4>
    <p>If you need to change any of your registration details you must request cancellation of your existing Property Search Account by contacting our customer team service with your username details.</p>
    <p>You will then need to re-register for the services using a new username and password when a new Property Search User Account will be created.</p>
    <p>Once you activate your new account your existing Property Search User Account will be cancelled.</p>
    <h4 class="heading-small">Automatic cancellation of your property search user account</h4>
    <p>Your Property Search User Account will be automatically cancelled without any notice being given to you if you do not use if for a period of twelve months or more from the date you last used it.</p>
    <p>If your Property Search User Account is cancelled automatically you will need to re-register for the service using a different username to any username previously used by you.</p>
    <h3 class="heading-medium">4. Your use of the title summary service</h3>
    <p>You agree that when using the Title Summary service that you will not use the Land Registry system for any of the purposes set out below. You acknowledge that Land Registry may monitor your use of the service to verify that you are not accessing and using the data and information as follows:</p>
    <p>In any way that causes the system or access to it to be interrupted damaged or impaired.</p>
    <p>To use or attempt to use any automated software agents (including any screen scraper, spider or other web crawler) to access Land Registry’s system or to search, copy or, monitor, display or obtain links to any other part of the Land Registry system.</p>
    <p>To copy or display the data and information for display on any other website.</p>
    <p>To attempt to rectify or permit any person (not authorised by Land Registry) to rectify any fault or inaccuracy in the information, data, system, or database or tamper with the information, data, system services or database.</p>
    <p>To allow any unauthorised person to have access to the system and/or use the services via your equipment.</p>
    <p>To allow simultaneous access to the system using the same login or username and/or password and/or transfer or share your username or password.</p>
    <p>To tamper with or make or attempt to make any deletions, additions, notifications, adjustments or alterations to any of the data, information, the system or the database.</p>
    <p>Access or retrieve any part of the database, which is not part of the information and data supplied as part of the Title Summary service.</p>
    <p>Use the data and information to represent to the public that you have an arrangement or official partnership with Land Registry in relation to either the use of the data and/or information or the supply of it.</p>
    <p>Use the data for any fraudulent or other unlawful activity.</p>
    <p>We reserve the right to cancel your Property Search User Account at any time without notice if we have reason to suspect use for these purposes or if Land Registry suspects that you have failed to comply with any of the provisions of this agreement.</p>
    <p>You will remain liable for all amounts due under your account up to and including the date of termination.</p>
    <h3 class="heading-medium">5. When will the service be available?</h3>
    <p>The service will normally be available every day.</p>
    <p>On a day when the service is available it will normally be available for an aggregate period of at least 20 hours unless the system otherwise informs you.</p>
    <h3 class="heading-medium">6. Information about us and how to contact us</h3>
    <h4 class="heading-small">Who we are</h4>
    <p>Land Registry is a non-ministerial department. We register the ownership of land and property in England and Wales. Our Head Office address is Trafalgar House 1 Bedford Park Croydon CR0 2AQ.</p>
    <h4 class="heading-small">How you can contact us</h4>
    <p>You can contact us by telephoning our customer service team at 0300 006 0411 or by contacting us by completing our online contact form. For customers who wish to talk to a Welsh speaker the contact number is 0300 006 0422.</p>
    <h4 class="heading-small">How we may contact you?</h4>
    <p>If we have to contact you we will do so by telephone or by writing to you at the email address or postal address you provided to us with your registration details.</p>
    <h4 class="heading-small">“Writing” includes emails</h4>
    <p>When we use the words “writing” or “written” in these terms, this includes emails.</p>
    <h3 class="heading-medium">7. Our contract with you</h3>
    <h4 class="heading-small">Electronic contracting</h4>
    <p>Your use of the Title Summary services includes the ability to enter into agreements and/or to make transactions electronically. You acknowledge that your electronic submission constitutes your agreement and intent to be bound by and agree to pay for such agreements and transactions.</p>
    <p>Your agreement and intent to be bound by electronic submissions applies to all transactions you enter into on this site including notices of cancellation, policies, contracts and applications.</p>
    <h4 class="heading-small">Your request to view a register</h4>
    <p>The system enables you to undertake a property search initially using a post code. (Later enhancements to the service may also include a street name or title number).</p>
    <p>A list of property addresses will be generated from the postcode you insert.</p>
    <p>You will need to select the correct property address for your Title Summary.</p>
    <p>When you have identified the correct property for the register you wish to view you will need to use the system to order your Title Summary.</p>
    <h4 class="heading-small">What if the address is not listed?</h4>
    <p>If the address is not listed it could be due to this service being in its initial stages of development and so it is recommended that you try the Land Registry ‘Find a Property’ service instead.</p>
    <h4 class="heading-small">Order your title summary</h4>
    <p>You can order your Title Summary by making a request for immediate provision of the Title Summary service by selecting the correct address from the list provided.</p>
    <h4 class="heading-small">Exception to the right of cancellation under the consumer contracts (information, cancellation and additional charges) regulations 2013</h4>
    <p>You agree to lose your right to cancel by giving and acknowledging the following statement:</p>
    <p>“I agree that you will provide the summary as soon as I’ve paid. I accept that I will lose my right to cancel once the summary is displayed.”</p>
    <h4 class="heading-small">Pay</h4>
    <p>You must pay the fee in order to access the information provided by the service.</p>
    <h3 class="heading-medium">8. How will we accept your order?</h3>
    <p>Our acceptance of your order for an immediate title summary will take place when we accept your request to buy the title summary and you agree and acknowledge that you will lose your right to cancel, at which point a contract will come into existence between you and us.</p>
    <p>Confirmation of your consent and acknowledgement under regulation 37(1)(a) and (b) of The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013 will be the immediate provision of the Title Summary requested by you.</p>
    <h3 class="heading-medium">9. How to end your contract with us</h3>
    <p>You will have a right to end your contract with us at any time prior to your indicating you wish to proceed to make payment to view your chosen title summary.</p>
    <h3 class="heading-medium">10. Price and payment</h3>
    <h4 class="heading-small">Where to find the price for a title summary</h4>
    <p>The price for a Title Summary will be the fees due under the current Land Registry Fee Order and charges due under section 105 of the Land Registration Act 2002 and shown on the Title Summary service at the time you carry out your transaction.</p>
    <h4 class="heading-small">When and how you must pay</h4>
    <p>You must pay for the Title Summary before you access the system to view your chosen title summary.</p>
    <p>All services must be paid for in advance and by credit/debit card.</p>
    <p>When you pay for the services it will be via RBS Worldpay or our successor specialist electronic payment processor.</p>
    <p>You will receive a Transaction ID from the payment processor confirming your purchase.</p>
    <p>Your attention is drawn to the privacy policy of RBS Worldpay or successor specialist electronic payment processor for the service as Land Registry is not directly responsible for the information practices of the processor or third party service providers.</p>
    <h3 class="heading-medium">11. When will we provide the title summary</h3>
    <p>We will make the chosen Title Summary available for you to view and save a screen shot and/or print as soon as payment has been made.</p>
    <p>You will only be able to view it once so you will need to print it out or take a screen shot immediately.</p>
    <h3 class="heading-medium">12. If we cannot accept your order</h3>
    <p>If we are unable you accept your order we will notify you and provide you with written reasons why we cannot accept your order. The Worldpay transaction will be automatically cancelled.</p>
    <h3 class="heading-medium">13. Updates to digital content</h3>
    <p>We may update digital content provided that the digital content shall always match the description of it that we provided to you before you bought it.</p>
    <p>The title summary of the register you will see will be a summary of the register at the time and date of your transaction.</p>
    <p>The Land Registry system is a live system that is updated when applications submitted to Land Registry are processed so the information on a title summary is subject to change.</p>
    <h3 class="heading-medium">14. Delays and matters outside of our control</h3>
    <p>Transmission of data and information over the internet may be subject to delays beyond our control, which may delay the provision of our services or the completion of your order. As the system is internet based there may be periods of delay or shutdowns in the services beyond our control. You acknowledge that neither any information service provider, third party nor we shall be liable to you or any third party for any losses arising from such a delay.</p>
    <p>Some of the related services are outside of our control because they are provided by a third party. In these cases we do not take responsibility for these services, their content, or for any delays, interruptions or errors in their provision. We are not responsible for the content or reliability of any linked web sites. Nor do we necessarily endorse the views expressed in them. We cannot guarantee that these links will work all of the time and we have no control over the availability of the linked pages.</p>
    <h3 class="heading-medium">15. Land Registry’s right to require you to disconnect from the service</h3>
    <p>You agree that we may at any time require you to disconnect your equipment or software or any part or parts from accessing the system if in our reasonable opinion it has been the cause or a contributory factor or likely to cause failures, interruptions, errors or defects in the system or to corrupt the system or software or any other software which may be used by or in the system or any information on the database.</p>
    <h3 class="heading-medium">16. Changes</h3>
    <p>Land Registry reserves the right at any time to modify this Agreement and to impose new or additional terms and conditions on your use of the Service. Such modifications and additional terms and conditions will be communicated to you via our website.</p>
    <p>Following notification by our website they will be effective immediately and will be deemed to be incorporated into this Agreement.</p>
    <p>In the event that you do not agree such changes you should cease to use the service immediately.</p>
    <p>In the event that you continue to use the service but refuse to accept such changes Land Registry will have the right to terminate this agreement.</p>
    <h3 class="heading-medium">17. Ending the contract when we are not at fault and there is no right to change your mind</h3>
    <p>Even if we are not at fault and you do not have a right to change your mind you can still end the contact before it is complete but you may have to pay us compensation. A contract for goods or digital content is completed when the product is delivered, downloaded or streamed and paid for.</p>
    <h3 class="heading-medium">18. If there is a problem with the title summary</h3>
    <p>If you have any questions or complaints about the Title Summary please contact us. You can telephone our customer service team at 0300 006 0411 or write to us using our online Contact Form. If you wish to speak to a Welsh speaker please contact us on 0300 0060422.</p>
    <h3 class="heading-medium">19. Our independent complains reviewer</h3>
    <p>If your complaint has been through our internal complaints procedure (details of which you can access at <a href="https://www.gov.uk/government/organisations/land-registry/about/complaints-procedure">https://www.gov.uk/government/organisations/land-registry/about/complaints-procedure</a>) and you are still not satisfied you can contact the Independents Complaints Reviewer (ICR) for Land Registry (<a href="http://www.icrev.org.uk/">http://www.icrev.org.uk/</a>). The ICR’s role is to review complaints independently from Land Registry.</p>
    <h3 class="heading-medium">20. Data Protection</h3>
    <p>The parties agree to comply with all requirements of the Data Protection Act 1998, Directive 95/46 EC of the European Parliament and any legislation and/or regulations implementing them or made in pursuance to them (the "Data Protection Requirements"). Where we are the data controller you acknowledge that we have full authority to decide how the data is to be "processed" and where we are the data processor, we acknowledge that we are processing the data on your behalf.</p>
    <p>It is agreed between the parties that all personal and sensitive information will be kept secure in compliance with the requirements of the Data Protection Act 1998. Both parties agree that they will not do or omit to do any act which would place either party in breach of the Data Protection Requirements.</p>
    <p>“Personal data”, “data processor” and “data controller” shall each have the meanings set out in the Data Protection Act 1998.</p>
    <h3 class="heading-medium">21. Summary of your legal rights</h3>
    <p>We are under a legal duty to supply products that are in conformity with this contract. See below for a summary of your key legal rights in relation to the product. Nothing in these terms will affect your legal rights.</p>
    <h4 class="heading-small">Summary of your key legal rights</h4>
    <p>This is a summary of your key legal rights. These are subject to certain exceptions. For detailed information please visit the Citizens Advice website www.adviceguide.org.uk or call 03454 04 05 06.</p>
    <p>For a product that is digital content the Consumer Rights Act 2015 says digital content must be as described, fit for purpose and of satisfactory quality:</p>
    <p>If your digital content is faulty, you are entitled to a repair or a replacement.</p>
    <p>If the fault cannot be fixed within a reasonable time, or without causing you significant inconvenience, you can get some or all of your money back.</p>
    <p>If you can show the fault has damaged your device and we have not used reasonable care and skill, you may be entitled to a repair or compensation.</p>
    <h4 class="heading-small">When are we responsible for damage to a device or digital content</h4>
    <p>If defective digital content which we have supplied damages a device or digital content belonging to you and this is caused by our failure to use reasonable care and skill we will either repair the damage or pay you compensation. The following link provides details of compatible browsers and devices suitable for use with this website <a href="https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html">https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html</a>.</p>
    <p>Future enhancements to this service include the ability to be able to download the Title Summary and to search using a postal address and title number. We will update customers via our website once these facilities are available as part of the service.</p>
    <h4 class="heading-small">We are not liable for business losses</h4>
    <p>We only supply the products for domestic and private use. If you use the products for any commercial business or re-sale purpose we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
    <h4 class="heading-small">How may we use your personal information</h4>
    <p>We will use the personal information you provide to us:</p>
    <p>(a) to supply the products to you</p>
    <p>(b) to process your payment for the products</p>
    <h4 class="heading-small">Third parties</h4>
    <p>We will only give your personal information to other third parties where the law either requires or allows us to do so.</p>
    <h4 class="heading-small">Nobody else has any rights under this contract</h4>
    <p>This contract is between you and us. No other person shall have any rights to enforce any of its terms.</p>
    <h4 class="heading-small">If a court finds part of this contract illegal the rest will continue in force</h4>
    <p>Each of the paragraphs of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</p>
    <h4 class="heading-small">Which laws apply to this contract and where you may bring legal proceedings</h4>
    <p>These terms are governed by English law and you can bring legal proceedings in respect of the products in the English courts. If you live in Scotland you can bring legal proceedings in respect of the products in either the Scottish or the English courts. If you live in Northern Ireland you can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.</p>
  </article>
{% endblock %}
