{% extends "./layout/layout.html" %}

{% endblock %}

{% block title %}Reset {{item}}{% endblock %}

{% block body %}
  <h1 class="heading-large">Reset {{item}}</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="{{path}}/reset/{{item}}/email_sent" method="GET" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        <p>Enter your email address - we'll send you a link you can use to reset your {{item}}.</p>



          <legend class="visuallyhidden">Enter your email address</legend>

<!--           <div class="form-group">
            <label class="form-label" for="email"><strong class="bold">Email address</strong></label>
            <input class="form-control" type="text" id="email" name="email" data-session-storage-get="find-property-information-email">
          </div> -->

        <fieldset>
            <div class="form-group">

              <label class="form-label" for="email"><strong class="bold">Email address</strong></label>

              <!-- <input class="form-control" type="text" id="email" name="email" data-session-storage-get="find-property-information-email"> -->
              <input class="form-control" type="email" id="email" name="email" data-email-hint value="{{data.email}}" data-session-storage-get="find-property-information-email">

<!--               <div id="circularG"><div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div><div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div><div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div><div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div></div> -->
            </div>

            <div style="clear:both" class="visuallyhidden warning media" id="email-in-use">
              <div class="media-item">
                <i class="icon icon-important">
                  <span class="visuallyhidden">Warning</span>
                </i>
              </div>

              <div class="media-body">
                <h2 class="heading-small spacing-bottom-flush">This email address is already in use</h2>
                <p class="spacing-top-flush">Would you like to <a href="sign_in?title_number={{data.title_number}}&amp;email=pat@gmail.com">sign in</a> or <a href="reset/password/email_sent?title_number={{data.title_number}}&amp;email=pat@gmail.com">create a new password</a>?</p>
              </div>
            </div>

            <div class="panel panel-border-narrow visuallyhidden email-hint">
              <p>XXX Please ensure your email address is displayed correctly below. If you forget your password we will use your email address to help you reset it.</p>
              <p id="email-hint-value" class="bold"></p>
            </div>

        </fieldset>


        <input type="submit" class="button" value="Continue">
      </form>


      <script type="application/json" id="create_account_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address is required"
            }
          }
        }
      </script>

      <script>
        (function() {
          var emailInput = document.getElementById('email');

          var fields = document.querySelectorAll('input[type="text"], input[type="password"], input[type="submit"], select');
          var disabledIfEmailExists = document.querySelectorAll('.disabled-if-email-exists');

          var emailDebounceTimeout;
          var emailCheckTimeout;
          var emailCheckSpinner = document.getElementById('circularG');

          var existingEmails = [
            'john@gmail.com',
            'jane@gmail.com',
            'pat@gmail.com'
          ];

          var signinMessage = document.getElementById('email-in-use');

          function change(e) {
            clearTimeout(emailCheckTimeout);
            clearTimeout(emailDebounceTimeout);

            emailCheckSpinner.classList.remove('show');
            emailDebounceTimeout = setTimeout(function() {
              emailCheckSpinner.classList.add('show');

              emailCheckTimeout = setTimeout(function() {
                emailCheckSpinner.classList.remove('show');

                if(existingEmails.indexOf(emailInput.value) === -1) {
                  signinMessage.classList.add('visuallyhidden');

                  [].forEach.call(fields, function(field) {
                    field.disabled = false;
                    // document.getElementById('continueToPay').disabled = true;

                    [].forEach.call(disabledIfEmailExists, function(item) {
                      item.style.opacity = 1;
                    });
                  });

                } else {
                  signinMessage.classList.remove('visuallyhidden');

                  [].forEach.call(fields, function(field) {
                    field.disabled = true;

                    [].forEach.call(disabledIfEmailExists, function(item) {
                      item.style.opacity = 0.3;
                    });
                  });
                }

              }, 1500);
            }, 300);
          }

          emailInput.addEventListener('keyup', change);
          emailInput.addEventListener('change', change);
        })();
      </script>



    </div>
  </div>
{% endblock %}
