{% extends "./layout/layout.html" %}

{% block page_title %}
  Better search
{% endblock %}

{% block head_additionals %}

{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Improve search</h1>

<!--       <p class="lede">this proto is currently being assembled - things being done / not done</p>

      <h2 class="heading-large">Description of expected / built behaviour</h2>
      <p>Not all these 'rules' / described behaviour are shown, or obvious, in the prototype examples - so for clarity they are listed below</p> 
      <p>
        <ul class="list-bullet">
          <li>show every address in a postcode (whether we have something or not)</li>
          <li>a search result for every address in the postcode</li>
          <li>search result is the 'postal address' (addressbase delivery point address)</li>
          <li>where we dont have anything available for a postal address - explain why/what to do</li>
          <li>if search term is not a postcode - behaviour is like current production - search results are result per title, no pppa.</li>
          <li>always encourage user to use postcode - if no search result provided, say postcode is needed</li>
          <li>search results ordering rules - <br>order by property number (numeric / alpha numeric), then first field of address (alpha numeric) <br>[more ordering rules to be documents/applied later]</li>
          <li>postcode search: there are no places or titles not associated with an address in this search - eg land, or buildings that dont have a postal address (e.g, electricity substation)</li>
          <li>a new - 'page per property address' (pppa) if address has >1 title record</li>
          <li>'page per property address' - contains a link to each title at that address</li>
          <li>if address = 1 title, address link goes to 'about this title' page</li>
          <li>'about this property' page 'back link' returns to pppa/results ('previous page') - link text reflects what the page going back to is called</li>
          <li>'confirm your order' page current 'return to search results link' in pay box to return to pppa instead (if that was the route), and link text to reflect the page name its going back to</li>
          <li>for any address, the titles available may not be every title actually recorded/associated to that postal address</li>
          <li>caution titles - introduce this information on the pppa</li>
        </ul>
      </p> -->
<!--       <h2 class="heading-large">Still working throughr</h2>
      <p>
        <ul class="list-bullet">
          <li>improved content on 'page per property address'</li>
          <li>pppa - ordering the titles? rules / think about</li>
          <li>words (as per now?) - for when a result has no pppa/title available here</li>
          <li>what to do with duplicated postal addresses? (real world example below)</li>
          <li>out of scope? if only 1 title for the address and the address and A1 adddress differ - help user resolve that (result is postal, page per title addr is A1 prope desc)</li>
          <li><span class="bold">Q: what to do?</span> We don't know for any address if all the titles we show is a full picture. People will assume whatever we show is a full and true record of what gov holds.  Do we explain that this list of titles might not be everything? Do that on the pppa page?  i.e. Should we always have a pppa page to help explain?  e.g what if we've pulled back one title result for a property - and it's the leasehold? (there must be a freehold). Note: this is the same problem fpi and Fap currently have, but as were are now changing search/results/pppa should we address this?</li>
          <li>mobile: on pppa get address before the map?  Think about responsive on this page</li>
          <li>different model for pppa - always have one - have one for every address (has benefits - discuss)</li>
          <li>still only 50 results (we believe we can do 100 addresses)</li>
          <li>consider how many results per page - currently 20</li>
        </ul>
      </p> -->
      
<!--      
      <h2 class="heading-large">example pages</h2>
      <h3 class="heading-medium">if user searches with a postcode (what we encourage)</h3>
      <p>
        <ul class="list list-bullet">         
          <li><a href="{{path}}/pe12re/start">Search PE1 2RE</a>  
            <p>PE1 2RE is a 'perfect' postcode in real world - perfectly registered + all titles returned. We've removed personal details, and shifted the property numbers, and tweaked to demonstrate variances in data</p>
            <ul class="list list-bullet">
              <li>Postcode only search, all addresses share a Freehold.  Each has an individual Leashold</li>
              <li>multi title - 42 Lincoln Gate, PE1 2RE (all addresses work - but 42 works best)</li>
              <li>single title - where postal address doesn't match A1 desc - 43 Lincoln Gate, PE1 2RE</li>
              <li>single title - where postal address does match (leasehold) - 44 Lincoln Gate, PE1 2RE</li>
              <li>no information available - 37 and 45 Lincoln Gate, PE1 2RE</li>
              <li>multi title - duplicate postal address in the Royal Mail/address base data - Managers Office and Sheltered Housing, Managers Office (leasehold title will have a singluar A1, but 2 postal addresses)</li>
              <li>multi title - caution against freehold.  41 Lincoln Gate, PE1 2RE</li>
            </ul>
          </li>        
        </ul>
      </p> -->
<!--       <h3 class="heading-medium">if user doesn't search with a postcode</h3>
      <p>
        search works like currently in production.  results are titles, no pppa (page per property address) 
      </p>
      <p><a href="{{path}}/pe12re/start">Search PE1 2RE</a>, then try changing to a non postcode, e.g. 'PE1 2RE, 28' - best looked at in prodcution service it has better data.
      </p> -->

<!--       <h2 class="heading-large">Problems people have - pain that we're are trying to reduce</h2>
      <p>our general hypothesis is that we will lessen these problems</p>
      <p>People:
        <ul class="list list-bullet">
          <li>don’t understand why places (addresses) are missing </li>
          <li>don’t know what to do if they can’t see the place they want </li>
          <li>struggle picking the right record (title) - we expect them to! </li>
          <li>...because A1 property description, multiple titles at an address, they don’t know which will contain the right info for them (eg ‘the owner’) </li>
          <li>don’t understand places can have >1 record / title </li>
          <li>pick (and buy) the wrong record </li>
          <li>don’t understand tenures</li>
        </ul>
        <a href="">detailed breakdown of user pain with searching (google drive)</a>
      </p>     


      <h2 class="heading-medium">How to measure things</h2>
      <p>our more specific hypotheses of what will happen - and how to test/measure it</p>
      <p>
        <ul class="list list-bullet">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </p> -->



    </div>

  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="spacing-top-double"><a href="/">&lt; prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


