{% extends "./layout/layout.html" %}

{% block page_title %}
  Better search
{% endblock %}

{% block head_additionals %}

{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Improve search</h1>

      <p>this proto is currently being assembled - things being done / not done</p>
      <p>
        <ul class="list-bullet">
          <li>show every address in a postcode (whether we have something or not)</li>
          <li>a search result for every address in the postcode</li>
          <li>search result is the 'postal address' (addressbase delivery point address)</li>
          <li>a new - 'page per property address' (pppa) if address has >1 title record</li>
          <li>'page per property address' - link for each title at that address</li>
          <li>if address = 1 title, address link goes to 'about this title' page </li>
          <li>if not postcode search - results per title (as per prod / proto v24)</li>
          <li>'about this property' page per title back link returns to page per property (if that was the route)</li>
          <li>'confirm your order' page return to search results link in pay box to return to pppa (if that was the route)</li>
          <li>there are no places or titles not associated with an address in this search - eg land, or buildings that dont have a postal address (e.g, electricity substation)</li>
          <li>for any address, the titles available may not be every title actually recorded/associated to that postal address</li>
          <br>...<br>
          <br>
          <li>improved content on 'page per property address'</li>
          <li>show examples of ordering results? - or document the ordering rules we are going to initially implement</li>
          <li>words (as per now?) - for when a result has no pppa/title available here</li>
          <li>caution titles (needs info on the pppa?)</li>
          <li>what to do with duplicated postal addresses? (real world example below)</li>
          <li>out of scope? if only 1 title for the address and the address and A1 adddress differ - help user resolve that (result is postal, page per title addr is A1 prope desc)</li>
          <li><span class="bold">Q: what to do?</span> We don't know for any address if all the titles we show is a full picture. People will assume whatever we show is a full and true record of what gov holds.  Do we explain that this list of titles might not be everything? Do that on the pppa page?  i.e. Should we always have a pppa page to help explain?  e.g what if we've pulled back one title result for a property - and it's the leasehold? (there must be a freehold). Note: this is the same problem fpi and Fap currently have, but as were are now changing search/results/pppa should we address this?</li>
          <li>mobile: on pppa get address before the map?  Think about responsive on this page</li>
        </ul>
      </p>
      
     
      <h3 class='heading-medium'>example pages</h3>
      <h4 class='heading-small'>if user searches with a postcode (what we encourage)</h4>
      <p>
        <ul class="list list-bullet">         
          <li><a href="{{path}}/pe12re/start">Search PE1 2RE</a>  
            <p>PE1 2RE is a 'perfect' postcode in real world - perfectly registered + all titles returned. We've removed personal details, and shifted the property numbers, and tweaked to demonstrate variances in data</p>
            <ul class="list list-bullet">
              <li>Postcode only search, all addresses share a Freehold.  Each has an individual Leashold</li>
              <li>multi title - 42 Lincoln Gate, PE1 2RE (all addresses work - but 42 works best)</li>
              <li>single title - where postal address doesn't match A1 desc - 43 Lincoln Gate, PE1 2RE</li>
              <li>single title - where postal address does match (leasehold) - 44 Lincoln Gate, PE1 2RE</li>
              <li>no information available - 37 and 45 Lincoln Gate, PE1 2RE</li>
              <li>multi title - duplicate postal address in the Royal Mail/address base data - Managers Office and Sheltered Housing, Managers Office (leasehold title will have a singluar A1, but 2 postal addresses)</li>
              <li>multi title - caution against freehold.  41 Lincoln Gate, PE1 2RE</li>
            </ul>
          </li>        
        </ul>
      </p>
      <h4 class='heading-small'>if user doesn't search with a postcode</h4>
      <p>
        search works like currently in production.  results are titles, no pppa (page per property address) 
      </p>
      <p><a href="{{path}}/pe12re/start">Search PE1 2RE</a>, then try changing to a non postcode, e.g. 'PE1 2RE, 28'
      </p>
     
<!--       <h3 class='heading-medium'>Current thinking</h3>
      <p><strong class="bold">NOTE:</strong> examples below don't show signin/create account, or the final summary screen.  This is to help concentrate on the new stuff, so it's easier to see and feel</p>
      <p>
        <ul class="list list-bullet">         
          <li><a href="{{path}}/cv11fe/start">in progress (changing daily - 28/07/17) - Addresses with multiple titles</a><br>use Apartment 3, Ribbon Factory</li> 
          <li><a href="{{path}}/startx">1 title per address scenarios</a>: use 6 Mandela Way, Flat 1 &amp; Flat 2, 6 Mandela way
          <br>Note: these addresses only have one title each associated with them
          </li>
        </ul> -->

<!--       <h3 class='heading-medium'>Previous thinking</h3>
      <p>
        <ul class="list list-bullet">            
          <li><a href="{{path}}/startx-v1">v1 - first version (June 30, 2017) more than one title per address</a>: use Flat 1 &amp; Flat 2, 6 Mandela way</li>         
        </ul>
      </p> -->


<!--       <h3 class="heading-medium spacing-top-double">variations of each of the pieces</h3>

      <h4 class="heading-small">Search page</h4>
      <ul class="list-bullet">
        <li><a href="{{path}}/address_base_search">Search page</a><br>Best option for search is: <a href="{{path}}/address_base_search#preferred">second example</a></li>
      </ul> -->

<!--       <h4 class="heading-small">Results page</h4>
      <ul class="list-bullet">
        <li><a href="{{path}}/search_results_examples">Search result examples - current thinking</a>
        <br>add some more results examples here
        <br>duplicate addresses - add example for two addresses that link to the same title(s)</li>
      </ul> -->

<!--       <h5 class='heading-small'>previous thinking about results lists</h5>
      <ul class="list-bullet">
        <li><a href="{{path}}/address_base_results">Results page(s)</a> including page per title, and page per property (new)<p>because we now have a result per address/not property description<br>page per title will need to change<br>page per property is a way to help people pick the right title</p> Best option for display of results is: <a href="{{path}}/address_base_results#preferred">linking to page per property - option 2</a></li>
        <p>Organising/ordering results - further examples
        <ul class="list-bullet">
          <li><a href="{{path}}/search_results_examples_1">search results - tenure is hyperlink</a></li>
          <li><a href="{{path}}/search_results_examples_2">search results - address is hyperlink</a></li>
        </ul>
        </p>
      </ul> -->

<!--       <h4 class="heading-small">Pagination</h4>
      <ul class="list-bullet">
        <li>Pagination - do what we've done before (back and next 'buttons' at bottom of each page.  Stick with 20 results per page.</li>
      </ul> -->

<!--       <h4 class="heading-small">More than 100 results - license constraint?</h4>
      <ul class="list-bullet">
        <li><a href="{{path}}/search_results_100plus">What to do when more than 100 results</a> (probably not needed - according to OS on the internet - postcodes dont have more than 100 delivery addresses)</li>
      </ul> -->
        

<!--       <h4 class="heading-small">When we don't have a title for an address / exceptions</h4>
      <ul class="list-bullet">
        <li><a href="{{path}}/search_results_examples_3">search results - no results / exceptions</a></li>
      </ul> -->

<!--       <h4 class="heading-small">Property / title pages</h4>
      <p>Changing search results to postal addresses is a significant change.</p>
      <ul class="list-bullet">
        <li>postal address is the result, but title has property description (A1)<br>
        If the two match great, but if they don't we'll need to help the user get from postal to property desc</li>
        <li>many postal addresses are covered by more than one title<br>
        We need to help the user pick the right title</li>
      </ul>
      <h5 class="heading-small">property/title page examples:</h5>
        <ul class="list list-bullet">
          <li><a href="{{path}}/startx">Addresses with only one title; Postal address doesn't match property description</a><br>use 6 Mandela Way, Flat 1 &amp; Flat 2, 6 Mandela way
          </li>
          <li><a href="{{path}}/cv11fe/start">Addresses with multiple titles</a><br>use Apartment 3, ribbon Factory</li>         
        </ul>
      </p> -->

    </div>

  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="spacing-top-double"><a href="/">&lt; prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


