{% extends "./layout/layout.html" %}

{% block title %}{{item | capitalize}} changed{% endblock %}

{% block body %}
  <h1 class="heading-large">{{item | capitalize}} changed</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <!-- <p>Your {{item}} has been successfully reset.</p>  -->
      <!-- <p>Your password has been changed.</p> -->
      <p class="lede">Sign in with your new password</p>

      <p><a class="button" href="{{path}}/sign_in_reset">Sign in</a></p>

    </div>
  </div>
{% endblock %}
