{% extends "./layout/layout.html" %}

{% block head_additionals %}

{% endblock %}

{% block title %}Password incorrect{% endblock %}

{% block body %}

  <div class="grid-row spacing-top-double">

    <div class="column-two-thirds tablet-column-two-thirds">

      <h1 class="heading-large" style="margin-top:0px;">Sorry, that password isn't recognised</h1>

      <p class="lede"><a href="{{path}}/reset/password/send_email?title_number={{data.title_number}}">Reset your password</a> to use this service.</p>


    </div>

    <div class="column-one-third tablet-column-one-third">
      <aside class="supplementary-panel">
        <h2 class="heading-medium">Need help with this service?</h2>
        <p>Call HM Land Registry on 0300 006 0411 to report a problem, or if you're stuck and need help.</p>
      </aside>
    </div>
  </div>
{% endblock %}
