{% extends "./layout/layout.html" %}

<!-- {% from "./includes/register_teaser.html" import register_teaser %} -->

{% block title %}Registration successful{% endblock %}

{% block body %}
  <h1 class="heading-large">Registration successful</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <p class="lede">You have been signed in.</p>
      <!-- <p>You were purchasing information for the following property title:</p> -->

<!--       <div class="panel panel-border-narrow">
        {{ register_teaser(title=title,single=true) }}
      </div> -->

      <!-- <a href="{{path}}/worldpay_1?title_number={{data.title_number}}" class="button spacing-top-single spacing-bottom-half">Buy title summary</a> -->

      <!-- <br> or <a href="{{path}}/search">start a new search</a> -->

      <a href="search" class="button spacing-top-single spacing-bottom-half">Start a search</a>

    </div>
  </div>
{% endblock %}
