{% extends "./layout/layout.html" %}



{% block title %}Reset {{item}}{% endblock %}

{% block body %}
  {% if item == 'password' %}
    <h1 class="heading-large">Password reset email sent</h1>
  {% else %}
    <h1 class="heading-large">Username reminder sent</h1>
  {% endif %}

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">
      <a href="click_email?title_number={{data.title_number}}" style="text-decoration: inherit;color:inherit">

        {% if item == 'username' %}
          <p>We have sent you an email containing your username.</p>
          <p>Once you receive the email, follow the included instructions in order to sign in to the service.</p>
        {% else %}
<!--           <p>We have sent an email to <strong class="bold">{{data.email}}</strong> containing a temporary password.</p>
          <p>Once you receive the email, follow the instructions to reset your password.</p> -->
            <p>We have sent an email to <strong class="bold">{{data.email}}</strong> containing a temporary password</p>
      </a>
          <h2 class="heading-medium">Once you've received an email from us</h2>
          <ul class="list-bullet">
            <li>use the temporary password to sign in</li>
            <li>you will be asked to create a new password</li>
            <li>you will then be able to search for property information</li>
          </ul>
         <p class="spacing-top-single">When you have the email, <a href="sign_in?action=reset_do">continue to sign in</a> with your temporary password</p>

        {% endif %}


      {% if item != 'username' %}
        <div class="panel panel-border-narrow spacing-top-double">
          <h2 class="heading-small">Didn't receive an email?</h2>
          <ul class="list list-bullet">
            <li>Try checking your spam or junk folder - emails can sometimes get mistakenly flagged</li>
            <li>Alternatively you can <a href="send_email?title_number={{data.title_number}}">request another password reset email here</a></li>
          </ul>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
