{% extends "./layout/layout.html" %}



{% block title %}Reset {{item}}{% endblock %}

{% block body %}
  {% if item == 'password' %}
    <h1 class="heading-large">Reset your password</h1>
  {% else %}
    <h1 class="heading-large">Request username reminder</h1>
  {% endif %}

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="{{path}}/reset/{{item}}/email_sent" method="GET" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        {% if item == 'password' %}
          <p>If you've forgotten your {{item}} we'll send you an email to help you reset it.</p>
        {% else %}
          <p>Enter your email address below and we will send you an email containing the username for the account.</p>
        {% endif %}

        <fieldset>

          <legend class="visuallyhidden">Enter your username or email address</legend>

          <div class="form-group">
            <label class="form-label" for="email"><strong class="bold">Email address</strong></label>
            <input class="form-control" type="text" id="email" name="email">
          </div>

        </fieldset>

        <input type="submit" class="button" value="Continue">
      </form>

      <script type="application/json" id="create_account_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address is required"
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
