{% macro resultsx() %}

  <div class="example1">
    <ol>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">1 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold property record
        </div> -->
      </li>
      <li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">2 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold property record
        </div> -->
      </li>
      <li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">3 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold property record
        </div> -->
      </li>
      <li>
      <li>
        <h2 class="heading-small collapse-bottom">
          4 Mandela Way, Southampton, SO15 5RZ
        </h2>
        <div class="font-xsmall">
          <p>
          No property records exist for this address.</p>
          <ul class="list-bullet">
            <li>This might mean the property is not yet registered: <a href="#">register this property</a></li>
            <li>This might be that the address was registered but the property hasn't been built</li>
          </ul>
          <p>
            If you think something about this address is incorrect, please <a href="">report a mistake</a>
          </p>
        </div>       
      </li>
      <li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">5 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold property record
        </div> -->
      </li>

      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="page_per_titlex_6">6 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>

        <ol class="children--address-list">
          <li>
            <h2 class="heading-small collapse-bottom">
              <a href="page_per_titlex_6_f1">Flat 1, 6 Mandela Way, Southampton, SO15 5RZ</a>
            </h2>
          </li>
          <li>
            <h2 class="heading-small collapse-bottom">
              <a href="page_per_titlex_6_f2">Flat 2, 6 Mandela Way, Southampton, SO15 5RZ</a>
            </h2>
          </li>
        </ol>
      </li>


<!--       <li>
        <h2 class="heading-small collapse-bottom">
          <a href="page_per_property">Flat 1, 6 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
        <ol class="children--address-listx">
          <li>
            <div class="font-xsmall">
              1 Freehold and 1 leasehold property records
            </div>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="page_per_property2">Flat 2, 6 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
        <ol class="children--address-listx">
          <li>
            <div class="font-xsmall">
              1 freehold and 1 leashold property records
            </div>
          </li>
        </ol>
      </li> -->

      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">7 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold property record
        </div> -->
      </li>

      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">Flat 1, 8 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>
      </li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">Flat 2, 8 Mandela Way, Southampton, SO15 5RZ</a>
        </h2>

      </li>
      <li>
        <h2 class="heading-small collapse-bottom">
          9 Mandela Way, Southampton, SO15 5RZ
        </h2>
            <div class="font-xsmall">
        1 freehold property record exists. but it is not yet available from this service, <br><a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">use the Find a Property service</a> instead
      </div>
      </li>
      <li>
        <h2 class="heading-small collapse-bottom">
          <a href="#">Plaza Hotel, Mandela Way, Southampton, (SO15 5RZ)</a>
        </h2>
<!--         <div class="font-xsmall">
          1 freehold and 499 leasehold property records
        </div> -->
      </li>

    </ol>
  </div>      
{% endmacro %}