{% macro search_form2(h1=false, autofocus=true, label='Enter a postcode, eg SW1A 2AA',value='') %}
  <form action="search_resultsx" method="get" class="search-form" data-clientside-validation="search_form2_validation" data-clientside-validation-no-summary>

    <div class="form-group spacing-bottom-half {% if form.search_term.errors %}error{% endif %}">

      {% if h1 %}<h1>{% endif %}

        <label class="form-label bold-medium spacing-bottom-half" for="search_term2">
          {{label}}

          {% if search_term %}
            <span class="visuallyhidden">{{search_term}}</span>
          {% endif %}
        </label>

      {% if h1 %}</h1>{% endif %}

      {%if autofocus %}
        <input class="form-control" id="search_term2" name="search_term2" type="text" value="{{value}}" autofocus="autofocus">
      {% else %}
        <input class="form-control" id="search_term2" name="search_term2" type="text" value="{{value}}">
      {% endif %}

      <input class="button" type="submit" name="search-button" value="Search" id="search_button">
    </div>
  </form>

  <script type="application/json" id="search_form2_validation">
    {
      "search_term2": {
        "presence": {
          "message": "Please enter a postcode"
        }
      }
    }
  </script>
{% endmacro %}
