<!--[if gt IE 8]><!--><link href="{{ asset_path }}stylesheets/elements.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if IE 6]><link href="{{ asset_path }}stylesheets/elements-ie6.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{ asset_path }}stylesheets/elements-ie7.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{ asset_path }}stylesheets/elements-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

<!--[if lte IE 11]><script src="{{ asset_path }}javascripts/polyfills-promise.js"></script><![endif]-->
<!--[if lte IE 9]><script src="{{ asset_path }}javascripts/polyfills-ie9.js"></script><![endif]-->
<!--[if lte IE 8]><script src="{{ asset_path }}javascripts/polyfills-ie8.js"></script><![endif]-->
<!--[if IE 8]><link href="{{ asset_path }}stylesheets/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

<style type="text/css">
/* confirm your purchase/selection - pay panel/box */
	.panel-simple {
		border: 4px solid #bfc1c3;
	    padding: 15px;
	    margin-bottom: 30px;
	}
</style>



<style type="text/css">
/* about this property - mobile */
	dl.definition-tabular-sectioned {
		border-bottom: 1px solid #bfc1c3;
	}

	@media (min-width: 641px) {
		dl.definition-tabular-sectioned {
			border:0;
		}
	}
</style>




<style type="text/css">
/* confirm your purchase - mobile */

	.mobile-spacing-top-hack {
		border-top: 1px solid #bfc1c3;
		padding-top: 25px;
	}

	@media (min-width: 641px) {
		.mobile-spacing-top-hack {
			border:none;
			padding-top: 0px;
		}
	}
</style>


<style type="text/css">
/* confirm your purchase - mobile */

	#search_button {
		margin-top:15px;
	}

	@media (min-width: 641px) {
		#search_button {
			margin-top:0px;
		}
	}
</style>


<style type="text/css">
/* summary - print */
/* textual content and the map */
	@media print {

		.leaflet-control-container {
	    	display: none;
	  	}

		dl.definition-tabular-sectioned {
			border-bottom: none;
		}

	  	dl.definition-tabular dt {
			border-top: none;
			margin-top: 0px;
			padding-top: 0px;
			font-weight: 100;
			float: left;
    		clear: left;
			width: 33.33333%;
		}

		dl.definition-tabular dd {
			width: 66.66667%;
			float:left;
			margin-left: 33.33333%;
		}

		dl.definition-tabular dt + dd {
			margin-left: 0;
		}


		.definition-tabular {
			width:100%;
		}


		.print-collapse-columnx {
			float: left;
			width: auto;
			width: 300px;
			height: 300px;
		}

		dl.dl-wide dt {
			border-top: none;
			margin-top: 0px;
			padding-top: 0px;
			font-weight: 100;
			float: left;
    		clear: left;
			width: 50%;
		}

		dl.dl-wide dd {
			width: 50%;
			float:left;
		}

		.page-break-block {
			page-break-inside: avoid;
		}

	}
    

	@media screen {
		#map {
			padding-bottom: 100%!important;
			width: auto!important;
		}
	}


}
</style>

<style type="text/css">
/* summary - print */
/* hide from screen, but not print */
	@media print {

	}
    
	@media screen {
		.printonly {
			display:none;
		}
	}

}
</style>

<style type="text/css">
/* summary - 'or print on mobile*/

	@media (min-width: 641px) {
		.mob-spacer {
			margin-top:0px;			
		}
	}

	.mobile-spacer {
			display:inline-block;
			margin-top:15px;
		}

</style>



<style type="text/css">
/* search results - last page of pagination */
/* in SASS - probably better to inhert from next-page rather than an additional class */
	.last-page div {
		padding: 0.75em 3em 0.75em 0;
	}

	.last-page span.pagination-part-title {
		font-size: 27px;
		line-height: 1.25;
		font-weight: 400;
	}

	.last-page span.pagination-label {
		font-weight: 400;
	}	

</style>


<style type="text/css">
/* processing payment */
	#processing {
	  text-align: center;
	}
	#processing img {
	  width: 56px;
	  margin: 0 auto;
	}
</style>



