<div class="phase-banner-beta printhidden">
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="mailto:digital-register-feedback@digital.landregistry.gov.uk">feedback</a>  will help us to improve it.</span>
      </p>
    </div>

    <div class="column-one-third" style="text-align: right">

      {% if session.isLoggedIn %}
        <p style="display: block" class="font-xsmall">You are signed in as Pat Smith&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/{{prototypeVersion}}/landing_page">Sign out</a></p>
      {% endif %}
    </div>
  </div>
</div>
