{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Search results examples
{% endblock %}

{% block head_additionals %}

{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Addressbase search examples/ideas</h1>
      <h2 class="heading-medium">Wen things go wrong - exceptions</h2>

      <h2 class="heading-medium">Things that are needed</h2>

      <ul class="bullet-list">
        <li><a href="">Search page - postcode only</a></li>
        <br>
        <li><a href="">Results page(s)</a></li>
        <li><a href="">Organising/ordering results</a></li>
        <li><a href="">Pagination</a></li>
        <li><a href="">What to do when more than 100 results</a></li>
        <li><a href="">when things go wrong - errors, what to do instead, help, etc</a></li>
      </ul>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="spacing-top-double"><a href="/">&lt; prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


