{% extends "./layout/layout.html" %}

{% block page_title %}
  Search results examples
{% endblock %}

{% block head_additionals %}

{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">pick the property i'm interested in</h1>
      <p class="lede"><strong class="bold">Warning</strong> - some of the examples below are tailored around a secific solution/MVP.</p>
      <p class="lede">The problem (user task) is find the right property (pick the right title record).  Building a search based on AddressBase is one potential way of solving the problem.  See the <a href="https://docs.google.com/document/d/1y8FSWxM4gFNWwc6nYH4hDOZ93fMK4FrA0RE7xsPJcDQ/edit#heading=h.7w83h6u3pzic">'MVP Candidate' document (google drive)</a> for technology agnostic solutions to the user problem in FPI service</p>
      <P>In the MVP Candidate document, we recommend two candidates:
      <ol class="list list-number">
        <li>everything HMLR has in a postcode (all titles)</li>
        <li><strong class="bold">every title HMLR has for the postal addresses in a postcode (not land)</strong></li>
      </ol>
      the pages/examples below are primarily focused on candidate 2.</P>

      <p>If we're building the 'LLC Address component' tech solution - these pages explore/show things that need considering for the Find Property Information service - what to do for the user.  Problems the user will have, and based on what we've learnt, suggested solutions in Find property information (FPI).</p>

      <h2 class="heading-medium">Things that have to be considered/changed</h2>

      <p class="lede">Show me a journey with 'the best' of the pieces we've considered</p>
      <p>
        <ul class="list list-bullet">
          <li class="lede"><a href="{{path}}/startx-v1">v1 - first version (June 30, 2017)</a>: use Flat 1 &amp; Flat 2, 6 Mandela way</li>
          <li><a href="{{path}}/startx">latest - in progress (July 3, 2017)</a><del>: use Flat 1 &amp; Flat 2, 6 Mandela way</del></li>
          
        </ul>
      </p>




      <h3 class="heading-small spacing-top-double">variations of each of the pieces</h3>
      <ul class="list-bullet">
        <li><a href="{{path}}/address_base_search">Search page</a><br>Best option for search is: <a href="{{path}}/address_base_search#preferred">second example</a></li>
        <li><a href="{{path}}/address_base_results">Results page(s)</a> including page per title, and page per property (new)<p>because we now have a result per address/not property description<br>page per title will need to change<br>page per property is a way to help people pick the right title</p> Best option for display of results is: <a href="{{path}}/address_base_results#preferred">linking to page per property - option 2</a></li>
        <p>Organising/ordering results - further examples
        <ul class="list-bullet">
          <li><a href="{{path}}/search_results_examples_1">search results - tenure is hyperlink</a></li>
          <li><a href="{{path}}/search_results_examples_2">search results - address is hyperlink</a></li>
        </ul>
        </p>
        <li>Pagination - do what we've done before (back and next 'buttons' at bottom of each page.  Stick with 20 results per page.</li>
        <li><a href="{{path}}/search_results_100plus">What to do when more than 100 results</a> (probably not needed - postcodes dont have more than 100 delivery addresses</li>
        <li>when things go wrong - errors, what to do instead, help, etc
          <ul class="list-bullet">
            <li><a href="{{path}}/search_results_examples_3">search results - no results / exceptions</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="spacing-top-double"><a href="/">&lt; prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


