{% extends "./layout/layout.html" %}
{% from "./includes/back_link.html" import back_link %}

{% block title %}About this property{% endblock %}

{% block header_primary %}
  {{ back_link(title='Search results', prefix='Back to', url=path + '/search_results?page=' + data.page + '&search_term=' + data.search_term) }}
{% endblock %}

{% block body %}



  <h1 class="heading-large">About this property</h1>

  <div class="grid-row column-flip spacing-top-single">

    <div class="column-one-third tablet-column-one-third spacing-bottom-single">
      {% if title['indexPolygon'] %}
        <div class="map" id="map">
          <p>The map relies on JavaScript being enabled in your browser.</p>
        </div>
      {% endif %}
    </div>

    <div class="column-two-thirds tablet-column-two-thirds">

      <dl class="definition-tabular definition-tabular-sectioned">

<!--         {% if title['is_caution_title'] %}
          <dt class="bold-small">Caution</dt>
          <dd>
            <details class="font-xsmall">
              <summary class="bold-small">What does Caution mean?</summary>
              <div class="panel">
                <p>This property hasn’t been registered yet. You can’t find out who owns it from this service. </p>
                <p>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property. They will be told if anyone tries to register it, and can object to the registration going ahead until their claim has been looked at. You can get their name and address from this service.</p>
                <p>Registration has only been compulsory since the 1990s. Property that hasn’t changed hands since then may not be registered.</p>
              </div>
            </details>
          </dd>
        {% endif %} -->

        {% if title.address %}
          <dt class="spacing-bottom-single">Address</dt>
          <dd class="bold-medium spacing-bottom-single">
            <div class="address">
              {% for line in title.address %}
                <span>{{line}}</span>
              {% endfor %}
            </div>
          </dd>
        {% endif %}

<!--         <dt>Title number</dt>
        <dd class="bold-small">{{ title['data']['title_number'] }}</dd> -->

        <dt class="spacing-bottom-single">Ownership type</dt>
        <dd class="spacing-bottom-single">
          <strong class="bold">{{ title['tenure'] }}</strong>
<!--           <a class="split-detail-trigger font-xsmall" href="#what-is-tenure">What does this mean?</a>

          <div class="split-detail-contents" id="what-is-tenure">
            <div class="panel panel-border-narrow font-xsmall">

              {% if title['tenure'] == 'Leasehold' %}
                <p>You only own a leasehold property for a fixed period of time. You'll have a legal agreement with the landlord (sometimes known as the ‘freeholder’) called a ‘lease’. This tells you how many years you’ll own the property.</p>
                <p>Most flats are leasehold. Houses can be leasehold too and usually are if they’re bought through a shared ownership scheme.</p>
                <p>The leasehold and freehold are registered separately with the Land Registry. Each has its own title documents.</p>
                <p><b class="bold">You are buying a summary of the leasehold owner, not the freehold.</b></p>

                <a rel="external" href="https://www.gov.uk/leasehold-property/overview">More about Leasehold on GOV.UK</a>

              {% elif title['tenure'] == 'Freehold' %}
                <p>You own a freehold building and land outright. It is yours until you sell it or give it away.</p>
                <p>Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
                <p><b class="bold">If you want to know who owns a particular flat, you probably need the leasehold instead.</b></p>
                <p>Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>

              {% endif %}
            </div>
          </div>

          <p class="font-xsmall">A property can have both a freehold and a leasehold title. To get a different tenure for this address, <a href="/search_results" data-back-link>go back</a> and select the one you need.</p> -->
        </dd>

      </dl>

<!--       {% if title['is_caution_title'] %}
        <h2 class="heading-medium collapse-top">Land Registry does not know the owner of this property</h2>
      {% else %}
        <h2 class="heading-medium collapse-top">The summary will tell you</h2>
      {% endif %} -->

<!--       <ul class="list-bullet">
        {% if title['is_caution_title'] %}
          <li>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property.</li>
          <li><strong class="bold">The summary will give you the cautioner's name and address.</strong></li>
        {% else %}
          {% if title['tenure'] == 'Freehold' %}
            <li>current owner's name and address</li>
          {% elif title['tenure'] == 'Leasehold' %}
            <li>current leaseholder's name and address</li>
          {% endif %}

          <li>what was paid for the property – you won't get this if it was bought before April 2000, if they paid less than &pound;100, or if Land Registry have agreed not to record the price</li>
          <li>if there is a mortgage on the property, the lender's name and address</li>
          <li>the Title Number (unique reference number)</li>
        {% endif %}
      </ul> -->

        <h2 class="heading-medium spacing-top-single">Pay £3 to find out:</h2>

        <ul class="list-bullet">
          <li>who owns this property (name and address)</li>
          <li>how much they paid (if the Land Registry holds this information)</li>
          <li>if there's a mortgage on it</li>
        </ul>



      <h2 class="heading-medium">How to buy this information</h2>

      <ol class="list example-icon-list">
        {% if not session.isLoggedIn %}
          <li><span class="circle circle-step-large spacing-right-half">1</span><strong class="bold">create an account</strong> with an email address to receive the PDF</li>

          <li><span class="circle circle-step-large spacing-right-half">2</span><strong class="bold">pay online</strong> by debit or credit card</li>

        {% else %}

          <li><strong class="bold">pay online</strong> by debit or credit card</li>

        {% endif %}

      </ol>
      <p>This information will be displayed on-screen and emailed to you as a PDF.</p>

      <div class="panel panel-border-narrow">
        If you've already used this service and created an account, sign in with the email address you used before.
      </div>


      {% if session.isLoggedIn %}
        <!-- just show continue to buy button / form  -->
        <!-- bring in the pay panel - form -->
<!--         <form method="GET" class="spacing-bottom-double" action="worldpay_1" data-clientside-validation="cra_form_validation" data-clientside-validation-no-summary>
          <input type="submit" class="button" value="Buy title summary">
        </form> -->
      {% else %}
          <!-- show form for sign in / button for register -->
        <form method="GET" class="spacing-top-double" action="sign_in" >

          <input type="hidden" name="title_number" id="title_number" value="{{title['data']['title_number']}}"/>
          <a class="button" href="create_account?title_number={{title['data']['title_number']}}" role="button">Create a new account</a>
          <p class="spacing-top-half spacing-bottom-half"><strong class="bold">or</strong></p>
          <input type="submit" class="button" value="Sign in with an existing account">
        </form>
      {% endif %}


<!--       <form method="GET" class="spacing-bottom-double" action="{% if session.isLoggedIn %}worldpay_1{% else %}sign_in{% endif %}" data-clientside-validation="cra_form_validation" data-clientside-validation-no-summary>
        <p>You need to accept the following terms to continue.</p>

        <input type="hidden" name="title_number" id="title_number" value="{{title['data']['title_number']}}"/>

        <div class="form-group">
          <label class="block-label" for="right_to_cancel">
            <input id="right_to_cancel" name="right_to_cancel" type="checkbox" value="agree">
            I agree that you will provide the summary as soon as I’ve paid.<br>
            I accept that I will lose my right to cancel the contract once the summary is displayed.<br>
          </label>
        </div>

        {% if session.isLoggedIn %}
          <input type="submit" class="button" value="Buy title summary">
        {% else %}
          <input type="submit" class="button" value="Continue to sign in page">
        {% endif %}

      </form> -->

<!--       <script type="application/json" id="cra_form_validation">
        {
          "right_to_cancel": {
            "presence": {
              "message": "You need to agree to receive the summary right away and that you’ll lose your right to cancel"
            }
          }
        }
      </script> -->

      <p class="spacing-top-single">
      {{ back_link(title='Cancel and return to search results', prefix='Back to', url=path + '/search_results') }}
      </p>

    </div>
  </div>

  {% if title['indexPolygon'] %}
    <script>
      var indexData = {{ title['indexPolygon'] | json | safe }};
    </script>
    <script defer src="{{ asset_path }}app/javascripts/map.js"></script>
  {% endif %}
{% endblock %}
