{% extends "./layout/layout.html" %}



{% block title %}Reset your {{item}}{% endblock %}

{% block body %}
  <h1 class="heading-large">Reset your {{item}}</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="{{path}}/reset/{{item}}/confirm" method="POST" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{title_number}}" type="hidden" />

        <p>To reset your {{item}}, enter a new one in the box below.</p>

        <fieldset>

          <legend class="visuallyhidden">Enter your new {{item}}</legend>

          <div class="form-group">
            {% if item == 'password' %}
              <label class="form-label" for="password">Create a password</label>
              <input class="form-control" type="password" id="password" name="password" data-password-reveal>

              <p class="form-hint">Your password must:</p>
              <ul class="form-hint list list-bullet spacing-bottom-flush">
                <li>be between 8 and 20 characters</li>
                <li>contain at least 1 letter and 2 numbers</li>
                <li>not be the same as your email address</li>
                <li>not contain the symbols &pound; &#x20AC; &#x00AC; &#x00A6;</li>
              </ul>
            {% else %}
              <label class="form-label" for="{{item}}">Create a new {{item}}</label>
              <input class="form-control" type="text" id="{{item}}" name="{{item}}">
            {% endif %}
          </div>

        </fieldset>

        <input type="submit" class="button" value="Reset {{item}}">
      </form>

      <script type="application/json" id="create_account_form_validation">
        {
          "{{item}}": {
            "presence": {
              "message": "{{item | capitalize}} is required"
            }
            {% if item == 'password' %}
            ,"length": {
              "minimum": 8,
              "maximum": 20,
              "message": "Password should be between 8 and 20 characters long. Characters can include letters, number and symbols."
            },
            "find_property_information_password": true
            {% endif %}
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
