{% extends "./layout/layout.html" %}



{% block title %}{{item}} reset successful{% endblock %}

{% block body %}
  <h1 class="heading-large">{{item | capitalize}} reset successful</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <p>Your {{item}} has been successfully reset and you are now signed in.</p>

      <p><a class="button" href="{{path}}/search">Start a new search</a></p>

      {# <ul class="list list-bullet">
        <li><a href="{{path}}/worldpay_1?title_number={{data.title_number}}">Continue purchasing the summary for {{title.address}}</a></li>
        <li><a href="{{path}}/search">Start a new search</a></li>
      </ul> #}
    </div>
  </div>
{% endblock %}
