<!--[if gt IE 8]><!--><link href="{{ asset_path }}stylesheets/elements.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if IE 6]><link href="{{ asset_path }}stylesheets/elements-ie6.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{ asset_path }}stylesheets/elements-ie7.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{ asset_path }}stylesheets/elements-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

<!--[if lte IE 11]><script src="{{ asset_path }}javascripts/polyfills-promise.js"></script><![endif]-->
<!--[if lte IE 9]><script src="{{ asset_path }}javascripts/polyfills-ie9.js"></script><![endif]-->
<!--[if lte IE 8]><script src="{{ asset_path }}javascripts/polyfills-ie8.js"></script><![endif]-->
<!--[if IE 8]><link href="{{ asset_path }}stylesheets/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

<style type="text/css">

.panel-simple {
	border: 4px solid #bfc1c3;
    padding: 15px;
    margin-bottom: 30px;
}

</style>
