{% macro pagination(display_page_number,number_pages,search_term) %}
  {% if display_page_number > 1 or display_page_number < number_pages %}
    <nav class="pager-simple" role="navigation" aria-label="Pagination">
      <ul>
        {% if display_page_number > 1 %}
          <li class="previous-page">
            <a href="search_results?search_term={{search_term}}&amp;page={{display_page_number|int - 1 }}" rel="prev">
              <span class="pagination-part-title">Previous page</span>
              <span class="pagination-label">{{display_page_number|int - 1}} of {{ number_pages }}</span>
            </a>
          </li>
        {% endif %}
        {% if display_page_number < number_pages %}
          <li class="next-page">
            <a href="search_results?search_term={{search_term}}&amp;page={{display_page_number|int + 1 }}" rel="next">
              <span class="pagination-part-title">Next page</span>
              <span class="pagination-label">{{display_page_number|int + 1}} of {{ number_pages }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
