{% extends "./layout/layout.html" %}
{% from "./includes/search_form.html" import search_form %}

{% block title %}Search for land or property{% endblock %}

{% block body %}
  <h1 class="heading-large">Search for land or property</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      {{ search_form() }}

      <div class="panel panel-border-narrow">
        <p>This service needs a postcode. If you don't know the postcode, <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">use the Find a Property service</a> instead to search by street address, title number or by using a map.</p>
      </div>

    </div>
  </div>
{% endblock %}
