{% extends "./layout/layout.html" %}



{% block title %}Reset {{item}}{% endblock %}

{% block body %}
  {% if item == 'password' %}
    <h1 class="heading-large">Reset your password</h1>
  {% else %}
    <h1 class="heading-large">Request username reminder</h1>
  {% endif %}

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form action="{{path}}/reset/{{item}}/email_sent" method="GET" novalidate data-clientside-validation="create_account_form_validation">
        <input name="title_number" value="{{data.title_number}}" type="hidden" />

        {% if item == 'password' %}
          <p>If you've forgotten your {{item}} we'll send you an email to help you reset it.</p>
        {% else %}
          <p>You can also <a href="{{path}}/sign_in">sign in</a> using the email address you used when registering</p>
          <p>If you need a username reminder, enter your email address and will send you an email containing the username for the account.</p>
        {% endif %}

        <fieldset>

          <legend class="visuallyhidden">Enter your email address</legend>

          <div class="form-group">
            <label class="form-label" for="email"><strong class="bold">Email address</strong></label>
            <input class="form-control" type="text" id="email" name="email">
          </div>

        </fieldset>

        <input type="submit" class="button" value="Continue">
      </form>

      <div class="panel panel-border-narrow spacing-top-double">
        <h2 class="heading-small">Didn't receive an email?</h2>
        <ul class="list list-bullet">
          <li>Try checking your spam or junk folder - emails can sometimes get mistakenly flagged</li>
          <li>If you continue to have problems resetting your password, you can <a href="https://www.gov.uk/government/organisations/land-registry/about/access-and-opening">contact Land Registry</a>.</li>
        </ul>
      </div>

      <script type="application/json" id="create_account_form_validation">
        {
          "email": {
            "presence": {
              "message": "Email address is required"
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}
