{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Accounts
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Accounts</h1>

      <p class="lede">Work in progress.  Intention: all the screens / messages, for all the scenarios we know</p>

      <p>all the commonly used screens are in the main prototype versions, but we have a lot of less frequent and odd situations.  We've started to show those here</p>

      <h2 class="heading-large">Signing in</h2>
      <p>'find property information' and 'find a property' account holders can access this service.</p>
      <p>What happens if:
        <ul class="list list-bullet">
          <li><a href="/accounts/account_invalid_pa_1">Property Alert user tries to sign in</a></li>
          <li><a href="/accounts/account_invalid_catch_all_1">any other HMLR account tries to sign in</a></li>
        </ul>
      </p>


      <p class="spacing-top-double"><a href="/">prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


