{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Search results examples
{% endblock %}

{% block head_additionals %}

{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Addressbase search examples/ideas</h1>
      <p class="lede"><strong class="bold">Warning</strong> - the pages below are tailored around a secific solution/MVP.</p>
      <p class="lede">The problem (user task) is find the right title record.  Building a search based on AddressBase is one potential way of solving the problem.  See the <a href="https://docs.google.com/document/d/1y8FSWxM4gFNWwc6nYH4hDOZ93fMK4FrA0RE7xsPJcDQ/edit#heading=h.7w83h6u3pzic">'MVP Candidate' document (google drive)</a> for technology agnostic solutions to the user problem in FPI service</p>


      <p>If we're building the 'LLC Address component' tech solution - these pages explore/show things that need considering for the Find Property Information service - what to do for the user.  Problems the user will have, and based on what we've learnt suggested solutions in FPI.</p>

      <h2 class="heading-medium">Things that are needed</h2>

      <ul class="bullet-list">
        <li><a href="address_base_search">Search page</a></li>
        <li><a href="address_base_results">Results page(s)</a> including page per title, and page per property (new)<p>becasue we now have a result per address/not property description<br>page per title will need to change<br>page per property is a way to help people pick the right title</p></li>
        <li><a href="">Organising/ordering results</a></li>
        <li><a href="">Pagination</a></li>
        <li><a href="">What to do when more than 100 results</a></li>
        <li><a href="">when things go wrong - errors, what to do instead, help, etc</a></li>
      </ul>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="spacing-top-double"><a href="/">&lt; prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


