{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">Find property information <span class="heading-secondary">Prototypes</span></h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <hr class="spacing-top-flush">

      <ul>
      {% for prototype in prototypes %}
        <li{% if not loop.first%} class="font-xsmall"{% endif %}>
          <h2 class="{% if not loop.first%}heading-medium{% else %}heading-large{% endif %} spacing-top-flush">
            <span style="color:#444;font-size:50%;font-family: Monospace">{{prototype.version}}</span><br> <a href="{{ prototype.version }}">{{prototype.name}}</a>
          </h2>


          {{prototype.description | safe}}

          {% if prototype.changelog %}
            <details>
              <summary>Changelog</summary>
              <div class="panel panel-border-narrow">
                <ul class="list list-bullet">
                  {% for log in prototype.changelog %}
                    <li>{{log | safe}}</li>
                  {% endfor %}
                </ul>
              </div>
            </details>
          {% endif %}

          <hr>
        </li>
      {% endfor %}
      </ul>

    </div>

    <div class="column-one-third">
      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Address list</h2>
        <p><a href="/database">A complete list of addresses available in this prototype can be found here</a></p>
      </div>

      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Historical prototypes</h2>
        <ul class="list list-bullet">
          <li><a href="https://fpi-ux-archive-2017-01-31.herokuapp.com/">Jan 2017 <- Apr 16 (to V14)<br><span style="color:#444;font-size:75%;">Archived at 2017-01-31</span></a></li>
          <li><a href="https://drv-ux-prototype.herokuapp.com/">March 2016 <- before (March 16 = original beta assessment)<br><span style="color:#444;font-size:75%;">https://drv-ux-prototype.herokuapp.com/</span></a></li>
      </div>

      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Example pages</h2>
        <ul class="list list-bullet">
          <li><a href="re-issue_summary_index">re issuing a summary</a></li> 
          <br>
          <li><a href="take_away_examples">take summary away / receipt</a></li>
          <br>
          <li><a style="color:#444;" href="">title register (to do)</a></li>
          <li><a style="color:#444;" href="">pay reskinning / simplifying (to do)</a></li> 
          <li><a href="summary_accuracy">summary accuracy - this information can change...</a></li>  
          <li><a href="/private-beta-99/create_account_new">creat account - easier password creation?</a></li>    
        </ul>
      </div>

    </div>
  </div>

</main>

{% endblock %}


