{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Find property information <span class="heading-secondary">Prototypes</span></h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <hr class="spacing-top-flush">

      <h2 class="heading-medium spacing-top-flush"><a href="private-beta-01">Private beta 01</a></h2>
      <p>Prototype to form the baseline for our work going forward into private beta. Set up to match production as closely as reasonably possible and eliminate the small differences between proto and prod that have arisen over time. This is being achieved by pulling in <a href="http://land-registry-elements.herokuapp.com/">land-registry-elements</a></p>

      <hr>

    </div>

    <div class="column-one-third">
      <div class="supplementary-panel">
        <h2 class="heading-medium">Historical prototypes</h2>
        <p>Historical prototypes can be found at <a href="https://drv-ux-prototype.herokuapp.com/">https://drv-ux-prototype.herokuapp.com/</a></p>
      </div>
    </div>
  </div>

</main>

{% endblock %}


