{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block head_additionals %}
<style type="text/css">
  .sticker-book {
    margin: 0 0.25em 1em 0;
    padding: 0 0.25em 0 0;
  }

  .sticker {
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;  
  }

  .status {
    color: white;
    font-weight: 800;
    border: 2px solid #b22a69;  
    background: #D53880; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b22a69, #D53880); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b22a69, #D53880); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b22a69, #D53880); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b22a69, #D53880); /* Standard syntax */ 
  }

  .construction {
    color: black;
    font-weight: 800;
    border: 2px solid #ceca00;  
    background: #ceca00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ceca00, #fffa02); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ceca00, #fffa02); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ceca00, #fffa02); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ceca00, #fffa02); /* Standard syntax */ 
  }

  .tested {
    color: white;
    font-weight: 800;
    border: 2px solid #004f2a; 
    background: #004f2a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#004f2a, #006435); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#004f2a, #006435); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#004f2a, #006435); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#004f2a, #006435); /* Standard syntax */ 
  }

</style>

{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">Find property information <span class="heading-secondary">Prototypes</span></h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">Prototypes are experiments - tools for learning and thinking about how to make a better service / break new ground. <strong class="bold">Not</strong> documentation of what will be made, or we have made - the real service is that ;)</p>
      <p>Often though, a prototype does show the whole journey we expect the service to be soon, so where we can we'll indicate that</p>


      <hr class="spacing-top-flush">

      <ul>
      {% for prototype in prototypes %}
        <li{% if not loop.first%} class="font-xsmall"{% endif %}>
          <h2 class="{% if not loop.first%}heading-medium{% else %}heading-large{% endif %} spacing-top-flush">
            <span style="color:#444;font-size:50%;font-family: Monospace">{{prototype.version}}</span><br> <a href="{{ prototype.version }}">{{prototype.name}}</a>
          </h2>

          {% if prototype.type %}
            <div class="sticker-book">
              <span class="sticker">
              {{ prototype.type }}
              </span>
            </div>
          {% endif %}

          {% if prototype.stickers %}
            <div class="sticker-book">
              {% if prototype.stickers.construction %}
                <span class="sticker construction">
                  {{ prototype.stickers.construction | safe }}
                </span>
              {% endif %}
              {% if prototype.stickers.status %}
                <span class="sticker status">
                  {{ prototype.stickers.status | safe }}
                </span>
              {% endif %}
              {% if prototype.stickers.tested %}
                <span class="sticker tested">
                  &#x1F44D; tested: 
                  {% for date in prototype.stickers.tested %}
                    {% if not loop.first%}
                      ,
                    {% endif %}
                    {{ date | safe}}
                  {% endfor %}
                </span>
              {% endif %}
            </div>
          {% endif %}

          {% if prototype.hypothesis %}
            <h3 class="heading-small">What problem we're solving / trying to learn / get answer to?</h3>
            <ul class="list list-bullet">
              {% for point in prototype.hypothesis %}
                <li>{{point | safe}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if prototype.description %}
          <h3 class="heading-small">What this is / what we're trying to do</h3>
            <ul class="list list-bullet">
              {% for item in prototype.description %}
                <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if prototype.examples %}
            <h3 class="heading-small">examples</h3>
            <ul class="list list-bullet">
              {% for item in prototype.examples %}
                <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if prototype.learnt %}
            <h3 class="heading-small">What we learnt more about from this proto</h3>
            <ul class="list list-bullet">
              {% for point in prototype.learnt %}
                <li>{{point | safe}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if prototype.changelog %}
            <details>
              <summary>more detailed change log</summary>
              <div class="panel panel-border-narrow">
                <ul class="list list-bullet">
                  {% for log in prototype.changelog %}
                    <li>{{log | safe}}</li>
                  {% endfor %}
                </ul>
              </div>
            </details>
          {% endif %}

          <hr>
        </li>
      {% endfor %}
      </ul>

    </div>

    <div class="column-one-third">
      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Address list</h2>
        <p><a href="/database">A complete list of addresses (version 24 and earlier) available in this prototype can be found here</a></p>
      </div>

      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Historical prototypes</h2>
        <ul class="list list-bullet">
          <li><a href="https://fpi-ux-archive-2017-01-31.herokuapp.com/">Jan 2017 <- Apr 16 (to V14)<br><span style="color:#444;font-size:75%;">Archived at 2017-01-31</span></a></li>
          <li><a href="https://drv-ux-prototype.herokuapp.com/">March 2016 <- before (March 16 = original beta assessment)<br><span style="color:#444;font-size:75%;">https://drv-ux-prototype.herokuapp.com/</span></a></li>
          <li style="color:#444;font-size:80%;margin-top:25px;"><a href="https://exemplar-no5.herokuapp.com">Exemplar #5 / 'the alpha'<br>https://exemplar-no5.herokuapp.com/</a></li>
      </div>

      <div class="supplementary-panel spacing-bottom-double">
        <h2 class="heading-medium">Example pages</h2>
        <ul class="list list-bullet">
          <li><a href="re-issue_summary_index">re issuing a summary</a></li> 
          <br>
          <li><a href="take_away_examples">take summary away / receipt</a></li>
          <br>
          <!-- <li><a style="color:#444;" href="">title register (to do)</a></li> -->
          <li><a style="color:#444;" href="">pay reskinning / simplifying (to do)</a></li> 
          <li><a href="summary_accuracy">summary accuracy - this information can change...</a></li>  
          <li><a href="/private-beta-99/create_account_new">create account - easier password creation?</a></li> 
          <li><a href="rate-limit">rate limiting - search results</a></li> 
          <li><a href="accounts">accounts - all the screens / scenarios (wip)</a></li>    
        </ul>
      </div>

    </div>
  </div>

</main>

{% endblock %}


