{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Take summary away examples
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Re Issue an FPI summary</h1>
      <p>People call us when something goes wrong - e.g. i didn't see the summary; i dodn;t manage to take a copy it.  We want to re-issue them a copy of the summary (one possible solution)</p>
      <p>The current process involves a lot of internal people/teams;  the user wants to get their situation resolved immediately (while on the phone)</p>
      <p>A good principle is: for our support staff to use the same system the user has to use - so they understand what the use has done, and also gain familiarity with the service - better to suppprt other tyoes of call</p>
      <p>For the user though - they want their outcome as quickly as possible.  And we would also like to spend as little time as possible resolving the user enquiry</p>
      <p>Some related problems / things we know
      <ul class="list list-bullet">
        <li>Users don't know / cant describe well which service/product they are using<br>It's hard for them (and us to ask) whether its FPI, FaP, or ot a lesser degree property alert</li>
        <li>people find it hard to describvle what they were doing / looking for. especially as:</li>
        <li>people don't know HMLR terminology - title, title number, tenure, freehold and leasehold</li>
        <li>sometimes the title summary they paid for isn't the one they wanted/needed</li>
      </ul>
      </p>
      <p>A tool that showed what service people have looked at/bought things from would aid problem resolution</p>

      <h2 class="heading-medium">Proto 1</h2>
      <p>Call Centre staff just use the current system - having ascertained from the user, that they are using FPI, and got the address and tenure form the user</p>
      <p>Call centre staff have a role that means they donl;t have to pay (and maybe also not sign in) - so the system does all the auditing and logging</p>

      <h2 class="heading-medium">Proto 2</h2>
      <p>Call Centre staff have a page which they enter the users account name - e.g. their email address or username - we show which system they used and when, and the address and title number of the thing they bought.</p>
      <p>Call centre staff then just use the current system - either as is (postcode/address search), or we build a route straight to the summary page - so they can download a copy</p>

      
      <p class="spacing-top-single"><a href="re-issue_summary_search">Demo - proto 2</a></p>

    </div>
  </div>



</main>

{% endblock %}


