{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Take summary away examples
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Summary re-issued</h1>
      <p class="lede">A copy of DN100001 Freehold summary for 25 Albert Lane, SO15 3GT, has been emailed to <strong class="bold">terry123@hotmail.com</strong></p>

    </div>
  </div>


  <div class="grid-row spacing-top-double">
    <div class="column-two-thirds">
      <ul class="">
        <li><a href="re-issue_summary_results">back to results</a></li>
        <li><a href="re-issue_summary_search">search another email address</a></li>
        <li class="spacing-top-double"><a href="re-issue_summary_index">back to re-issue summary introduction</a></li>
        <li class=""><a href="/">prototype start page</a></li>

      </ul>

    </div>
  </div>


</main>

{% endblock %}


