{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Take summary away examples
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Re Issue an FPI summary</h1>
      <p>People call us when something goes wrong - e.g. i didn't see the summary; i didn't manage to save it/take a copy it.  We want to re-issue them a copy of the summary (one possible solution)</p>
      <p>The current process involves a lot of internal people/teams and time;  the user wants to get their situation resolved immediately</p>
      <p>A good principle is: for our support staff to use the same system the user has to use - so they understand what the use has done, and also gain familiarity with the service - better to support other tyoes of call</p>
      <p>For the user though - they want their outcome as quickly as possible.  And we would also like to spend as little time as possible resolving the user enquiry</p>
      <p>Some related problems / things we know
      <ul class="list list-bullet">
        <li>Users don't know and/or can't describe well, which service/product they are using<br>It's hard for them (and us to ask) to say whether its FPI, FaP</li>
        <li>people find it hard to describe what they were doing / looking for. especially as:</li>
        <ul class="list list-bullet">
          <li>people don't know HMLR terminology - title, title number, tenure, freehold and leasehold</li>
        </ul>
        <li>sometimes the title summary they paid for isn't the one they wanted/needed</li>
        <li>we don't automatically monitor and record re-issuing of docs.  We rely on manual recording</li>
        <li>FPI - we don't think there are many calls when people fail to see the summary; but when we implement the download function, we expect calls to rise (similar to FAP calls)</li>
      </ul>
      </p>
      <p>A tool that showed what service people have looked at/bought things from would aid problem resolution</p>

      <h2 class="heading-medium">option 1</h2>
      <p>Call Centre staff just use the current system - having ascertained from the user, that they are using FPI, and got the address and tenure form the user</p>
      <p>Call centre staff have a role that means they don't have to pay* (and maybe also not sign in) - so the system does all the auditing and logging
      <br><span style="font-size:16px; color: grey;">* or give them a prepaid cc (so we don't get worried about GPC cards and all the processes that entails)</span>
      </p>

      <h2 class="heading-medium">option 2 (see prototype demo)</h2>
      <p>Call Centre staff have a page on which they enter the users account name - e.g. their email address or username - we show which system they used and when, and the details of the thing they bought.</p>
      <p>Call centre staff can then reissue the PDF version - send it straight to their email while user is on the phone (so user can check its received), or staff can download (and print it) and reissue it by post</p>
      <p>This doesn't allow (in first iterations) to reissue Find a Property docs, but does give support staff the details of what needs re-issuing, so they can use FaP to generate one</p>

      
      <p class="spacing-top-single"><a href="re-issue_summary_search">Demo - option 2</a></p>

      <h2 class="heading-medium">option 3</h2>
      <p>Call Centre staff have a page on which they enter the users account name - e.g. their email address or username - we show which system they used and when, and the address/title no of the thing they boughty</p>
      <p>CC Staff then use FPI or FAP to generate docs needed, download them and reissue by email or post</p>
    </div>
  </div>



</main>

{% endblock %}


