{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Take summary away examples
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Accuracy / correctness of information on the summary</h1>

      <!-- <h2 class="heading-medium">User needs</h2> -->
      <p>People want the information presented in the summary page to be able to do something else.</p>
      <p>We say:</p>
      <p>&lsquo; This information can change if we receive an application. This service is unable to tell you whether or not there is an application pending with HM Land Registry.&rsquo;</p>
      <p>Citizens don't understand much of this, and the words they do understand doesn't really say anything of use to them.  Unless they know what a pending application is, it's almost saying 'in the future things might be different'. And by the way, thaks for paying, this might change, or be in the process of changing!</p>
      <p>We, HMLR, know whether we are holding/processing a pending application.  So we should tell people if we are, or not if we're not</p>
      <p>example: if i was buying something from Argos, and it said thanks for buying this vacuum cleaner, we cant tell you if we've actually got it in stock now, or if the one we send is the same as you just saw!</p>
      
      <p class="spacing-top-double"><a href="/">prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


