{% extends "./private-beta-15/layout/layout.html" %}

{% block page_title %}
  Take summary away examples
{% endblock %}


{% block content %}

<main id="content" role="main" tabindex="-1">
  

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Summary and receipt - take the thing, you bought, away</h1>

      <h2 class="heading-medium">User needs</h2>
      <p>People want the information presented in the summary page to be able to do something else.</p>
      <p>People usually, rather than say what they are going to specifically do, say that they want to keep a copy of this information - take it away.</p>
      <p>There are specific things people are going to do next, but there is also a general desire to keep a copy of this thing - 'for my records'.  This is in part driven by the fact that they have to pay to get a copy of this information.</p>
      <p>In paying for this information, and that the VAT can be claimed back, we have a receipt.  People have desires/needs, around
      <ul class="list list-bullet">
        <li>claim back / not pay the VAT (give it to their accountant to deal with)</li>
        <li>show proof of purchase / cost - e.g. to someone else - to 'bill them'</li>
        <li>if something goes wrong between paying and receiving the summary, be able to tell/show us what they were doing, to get a resolution - e.g. money back, a copy of the summary</li>
        <li>if people are not happy when they get the summary / or later on - a way to refer to their transaction/purchase</li>
      </ul>
      </p>

      <h2 class="heading-medium">MVP</h2>
      <p>We've considered reaccess / longer access to the summary.  We've considered silently emailing the receipt to people.</p>
      <p>Indiviuals can't claim VAT, and we think not all organisational users will bother with 50p VAT back. Also this service is focussed on citizens not organisations.  As such viewiing the receipt is a very low priority and gets in the way on the summary page - It's not what people have come for. If something goes wrong with the financial transaction, worldpay has already sent them an acknowledgement with a transaction id that we can trace to their purchase.</p>
      <p>MVP = proto V21 - example - <a href="private-beta-21/display_title?title_number=DN1011954&email=asdf%40df.vmv&transId=3043404577&searchType=D">20 Blanda Views, freehold</a></p>
      <p><a href="https://docs.google.com/document/d/1OTg0GY4jTjX83MBqPoLNc2oSHK9RkD4GsFz3fXSj4JI/edit">Assumptions and what to learn after deployment </a> (team google doc)</p>
      <p><a href="https://docs.google.com/document/d/1FZe8ksllBAoNMYYE6hVVrEEMWDYr0wfWNwVoZsgjYP8/edit#heading=h.i26fxm4aqojq">Summary structure and markup for PDF</a>(team google doc) (structure and markup for any document format) - accessible by design :)</p>
   
      <h2 class="heading-medium">Previous prototypes</h2>
      <p>If you want to keep the information for longer, or get a receipt, download or print. Some options from Proto V17:</p>
      <ul class="list list-bullet">
        <li><a href="private-beta-17/display_title?title_number=DN1011954&email=asdf%40df.vmv&transId=3043404577&searchType=D">favoured option - freehold - heading, download &amp; print links</a></li>
        <li><a href="private-beta-17/display_title?title_number=DN1011976&email=asdf%40df.vmv&transId=3043404577&searchType=D">favoured option - leasehold - heading, download &amp; print links</a></li>
        <br>
        <li><a href="private-beta-17/display_title?title_number=DN1012390&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 1 - freehold - Intro line and download button, print link</a></li>
        <li><a href="private-beta-17/display_title?title_number=DN1012402&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 1 - leasehold - Intro line and download button, print link</a></li>
        <br>
        <li><a href="private-beta-17/display_title?title_number=DN1012017&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 2 - freehold - Intro line download or print link (no button, as no further step in journey)</a></li>
        <li><a href="private-beta-17/display_title?title_number=DN1012009&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 2 - leasehold - Intro line download or print link (no button, as no further step in journey)</a></li>
        <br>
        <li><a href="private-beta-17/display_title?title_number=DN1011950&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 3 - freehold - Download button, print link</a></li>
        <li><a href="private-beta-17/display_title?title_number=DN1011967&email=asdf%40df.vmv&transId=3043404577&searchType=D">alt 3 - leasehold - Download button, print link</a></li>
      </ul>

      <p class="spacing-top-double"><a href="/">prototype start page</a></p>

    </div>
  </div>



</main>

{% endblock %}


