{% extends "./private-beta-01/layout/layout.html" %}
{% from "./private-beta-01/includes/register_teaser.html" import register_teaser %}

{% block page_title %}
  Titles database
{% endblock %}

{% block head_additionals %}
  <style type="text/css">
    .database * {
      font-size: 13px;
    }

    .database li:nth-child(3n + 1) {
      clear: left;
    }
  </style>
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Titles database</h1>

  <ul class="database grid-row">
  {% for title in titles %}
    <li class="column-one-third">
      <div class="teaser teaser-register">
    <h2 class="heading-small spacing-top-half">
      {% if title['data'] %}
        <a href="confirm_selection?title_number={{title['data']['title_number']}}">{{ title['address'] }}</a>
      {% else %}
        {{ title['address'] }}
      {% endif %}
    </h2>

    {% if title['data'] %}

      <p class="font-xsmall spacing-bottom-flush">Title number: {{ title['data']['title_number'] }}</p>
      <b class="bold-xsmall">{{ title['tenure'] }}</b>

      {% if title['data']['is_caution_title'] %}
        <p class="font-xsmall"><strong class="bold">Caution against first registration</strong></p>
      {% endif %}

    {% else %}
      <p class="font-xsmall">No title information found</p>
    {% endif %}
  </div>
    </li>
  {% endfor %}
  </ul>

</main>

{% endblock %}


