{% extends "./layout/layout.html" %}

{% block title %}Access denied{% endblock %}

{% block body %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Access denied</h1>

      <p>You have signed in with a 'property alert' account, a different HM Land Registry service.</p>

      <p>To access this service you will need to sign in with either a 'find property information', or 'find a property' account.</p>
          
      <p>
        <a href="#" class="button">Sign out</a>
      </p>


    </div>
    <div class="column-one-third tablet-column-one-third">
<!--       <aside class="supplementary-panel">
        <h2 class="heading-medium">Need help with this service?</h2>
        <p>Call HM Land Registry on 0300 006 0411 to report a problem, or if you're stuck and need help.</p>
      </aside> -->
    </div>
  </div>

{% endblock %}
