{% extends "./layout/layout.html" %}

{% block title %}Incorrect account{% endblock %}

{% block body %}


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Sorry, wrong account</h1>

      <p class="lede">You have signed in with your Property Alert account</p>

      <p>You need a 'find property information' or 'find a property' account to use this service</p>

          
      <p>
        <a href="#" class="button">Sign out</a>
      </p>



    </div>
    <div class="column-one-third tablet-column-one-third">
<!--       <aside class="supplementary-panel">
        <h2 class="heading-medium">Need help with this service?</h2>
        <p>Call HM Land Registry on 0300 006 0411 to report a problem, or if you're stuck and need help.</p>
      </aside> -->
    </div>
  </div>

{% endblock %}
